/* 

0-600px     phone
600-900px   tab-port
900-1200px  tab-land
1200-1800px desktop where our normal styles apply
1800px+     large screens

 HOW @CONTENT IS USED
@ mixin respond-phone {
  @media (max-width: 600px) {
    @content;
  }
}
 @include respond-phone {
  font-size: 50%;
}

Breakpoint argument choices
:phone
:tab-port
:tab-land
:big-screen

*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");
:root {
  --clip-size: 2rem;
  --clip-position-t: 0% 0%;
  --clip-position-sabudh: 0% 0%;
  --mask-position: 50% 50%; }

.a-blur-background {
  animation-name: blur-background;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-delay: 2s;
  animation-fill-mode: forwards; }

@keyframes blur-background {
  0% {
    backdrop-filter: blur(0px);
    opacity: 0; }
  100% {
    backdrop-filter: blur(2px);
    opacity: 1; } }

.a-bluring-background {
  -moz-animation: bluring-background 3s;
  -webkit-animation: bluring-background 3s;
  animation: bluring-background 3s ease-in-out infinite; }

@keyframes bluring-background {
  0% {
    backdrop-filter: blur(100px); }
  50% {
    backdrop-filter: blur(100px); }
  100% {
    backdrop-filter: blur(100px); } }

.a-bluring {
  -moz-animation: bluring 3s;
  -webkit-animation: bluring 3s;
  animation: bluring 3s ease-in-out infinite; }

@keyframes bluring {
  0% {
    filter: blur(0px); }
  50% {
    filter: blur(10px); }
  100% {
    filter: blur(0px); } }

@keyframes experiment {
  0% {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); }
  100% {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); } }

@keyframes moveInRight {
  0% {
    transform: translateX(-25px); }
  80% {
    transform: translateX(5px); }
  100% {
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    transform: translateX(25px); }
  80% {
    transform: translateX(-5px); }
  100% {
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    transform: translate(0);
    opacity: 100%; } }

@keyframes landingTextLeft {
  0% {
    right: 12rem; }
  100% {
    right: 57vw; } }

@keyframes solidGradient {
  0% {
    background-image: linear-gradient(120deg, rgba(183, 233, 127, 0.788) 0%, rgba(129, 212, 208, 0.788) 50%, rgba(0, 0, 0, 0.623) 50%, rgba(209, 12, 183, 0.623) 100%); }
  50% {
    background-image: linear-gradient(120deg, rgba(183, 233, 127, 0.788) 0%, rgba(129, 212, 208, 0.788) 5%, rgba(0, 0, 0, 0.623) 5%, rgba(209, 12, 183, 0.623) 100%); }
  100% {
    background-image: linear-gradient(120deg, rgba(183, 233, 127, 0.788) 0%, rgba(129, 212, 208, 0.788) 50%, rgba(0, 0, 0, 0.623) 50%, rgba(209, 12, 183, 0.623) 100%); } }

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    background-size: 100% 100%; }
  50% {
    background-position: 0% 50%;
    background-size: 101% 101%; }
  100% {
    background-position: 0% 50%;
    background-size: 100% 100%; } }

@keyframes text-glitch-noise-1 {
  0% {
    clip: rect(1rem, 88rem, 3rem, 0); }
  5% {
    clip: rect(3rem, 88rem, 10rem, 0); }
  10% {
    clip: rect(1rem, 88rem, 5rem, 0); }
  15% {
    clip: rect(2rem, 88rem, 8rem, 0); }
  20% {
    clip: rect(5rem, 88rem, 7rem, 0); }
  25% {
    clip: rect(10rem, 88rem, 4rem, 0); }
  30% {
    clip: rect(9rem, 88rem, 4rem, 0); }
  35% {
    clip: rect(7rem, 88rem, 5rem, 0); }
  40% {
    clip: rect(4rem, 88rem, 1rem, 0); }
  45% {
    clip: rect(3rem, 88rem, 2rem, 0); }
  50% {
    clip: rect(3rem, 88rem, 5rem, 0); }
  55% {
    clip: rect(1rem, 88rem, 2rem, 0); }
  60% {
    clip: rect(9rem, 88rem, 5rem, 0); }
  65% {
    clip: rect(6rem, 88rem, 9rem, 0); }
  70% {
    clip: rect(8rem, 88rem, 5rem, 0); }
  75% {
    clip: rect(7rem, 88rem, 5rem, 0); }
  80% {
    clip: rect(5rem, 88rem, 10rem, 0); }
  85% {
    clip: rect(4rem, 88rem, 4rem, 0); }
  90% {
    clip: rect(6rem, 88rem, 9rem, 0); }
  95% {
    clip: rect(3rem, 88rem, 6rem, 0); }
  100% {
    clip: rect(2rem, 88rem, 1rem, 0); } }

@keyframes text-glitch-noise-2 {
  0% {
    clip: rect(5rem, 88rem, 7rem, 0); }
  2% {
    clip: rect(6rem, 88rem, 4rem, 0); }
  4% {
    clip: rect(8rem, 88rem, 4rem, 0); }
  6% {
    clip: rect(1rem, 88rem, 10rem, 0); }
  8% {
    clip: rect(1rem, 88rem, 3rem, 0); }
  10% {
    clip: rect(6rem, 88rem, 3rem, 0); }
  12% {
    clip: rect(6rem, 88rem, 7rem, 0); }
  14% {
    clip: rect(6rem, 88rem, 3rem, 0); }
  16% {
    clip: rect(1rem, 88rem, 7rem, 0); }
  18% {
    clip: rect(1rem, 88rem, 5rem, 0); }
  20% {
    clip: rect(7rem, 88rem, 4rem, 0); }
  22% {
    clip: rect(5rem, 88rem, 7rem, 0); }
  24% {
    clip: rect(7rem, 88rem, 7rem, 0); }
  26% {
    clip: rect(8rem, 88rem, 3rem, 0); }
  28% {
    clip: rect(8rem, 88rem, 6rem, 0); }
  30% {
    clip: rect(7rem, 88rem, 3rem, 0); }
  32% {
    clip: rect(5rem, 88rem, 10rem, 0); }
  34% {
    clip: rect(1rem, 88rem, 8rem, 0); }
  36% {
    clip: rect(3rem, 88rem, 4rem, 0); }
  38% {
    clip: rect(2rem, 88rem, 4rem, 0); }
  40% {
    clip: rect(6rem, 88rem, 6rem, 0); }
  42% {
    clip: rect(2rem, 88rem, 3rem, 0); }
  44% {
    clip: rect(4rem, 88rem, 8rem, 0); }
  46% {
    clip: rect(1rem, 88rem, 7rem, 0); }
  48% {
    clip: rect(10rem, 88rem, 7rem, 0); }
  50% {
    clip: rect(8rem, 88rem, 9rem, 0); }
  52% {
    clip: rect(9rem, 88rem, 5rem, 0); }
  54% {
    clip: rect(9rem, 88rem, 6rem, 0); }
  56% {
    clip: rect(6rem, 88rem, 4rem, 0); }
  58% {
    clip: rect(5rem, 88rem, 8rem, 0); }
  60% {
    clip: rect(1rem, 88rem, 8rem, 0); }
  62% {
    clip: rect(4rem, 88rem, 9rem, 0); }
  64% {
    clip: rect(1rem, 88rem, 9rem, 0); }
  66% {
    clip: rect(5rem, 88rem, 5rem, 0); }
  68% {
    clip: rect(6rem, 88rem, 3rem, 0); }
  70% {
    clip: rect(6rem, 88rem, 2rem, 0); }
  72% {
    clip: rect(2rem, 88rem, 7rem, 0); }
  74% {
    clip: rect(8rem, 88rem, 6rem, 0); }
  76% {
    clip: rect(5rem, 88rem, 4rem, 0); }
  78% {
    clip: rect(2rem, 88rem, 4rem, 0); }
  80% {
    clip: rect(1rem, 88rem, 4rem, 0); }
  82% {
    clip: rect(10rem, 88rem, 9rem, 0); }
  84% {
    clip: rect(8rem, 88rem, 2rem, 0); }
  86% {
    clip: rect(5rem, 88rem, 5rem, 0); }
  88% {
    clip: rect(8rem, 88rem, 1rem, 0); }
  90% {
    clip: rect(5rem, 88rem, 5rem, 0); }
  92% {
    clip: rect(1rem, 88rem, 7rem, 0); }
  94% {
    clip: rect(5rem, 88rem, 2rem, 0); }
  96% {
    clip: rect(6rem, 88rem, 3rem, 0); }
  98% {
    clip: rect(7rem, 88rem, 7rem, 0); }
  100% {
    clip: rect(5rem, 88rem, 3rem, 0); } }

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  margin-block: 0;
  margin-inline: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  position: relative;
  font-family: Roboto;
  font-size: 1.6rem; }

@media (max-width: 37.5em) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden; } }

a {
  text-decoration: none; }

img {
  display: block;
  width: 100%;
  object-fit: cover; }

a:link, a:visited {
  text-decoration: none;
  color: inherit; }

.text-glitch {
  font-size: 7rem;
  font-family: Geneva, Verdana, sans-serif;
  font-weight: 100;
  width: 100%;
  position: relative;
  display: inline-block; }
  .text-glitch::before {
    position: absolute;
    top: 0;
    left: 1px;
    content: attr(data-text);
    text-shadow: 1px 0 blue;
    clip: rect(0, 10rem, 0, 0);
    animation: text-glitch-noise-1 2s linear infinite alternate-reverse; }
  .text-glitch::after {
    position: absolute;
    top: 0;
    left: -1px;
    text-shadow: -1px 0 red;
    content: attr(data-text);
    clip: rect(0, 10rem, 0, 0);
    animation: text-glitch-noise-2 3s linear infinite alternate-reverse; }

.text-bg-clip {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #a83b3b, #3153af);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-padding-top-big {
  padding-top: 8rem !important; }

.u-wide-inline-block {
  display: inline-block;
  max-width: 100%; }

.u-container {
  margin-inline: 3rem; }

/*
 *  STYLE 3
 */
.u-scrollbar-design-1 {
  scrollbar-track-color: #f5f5f5;
  scrollbar-width: 6px;
  scrollbar-face-color: #000000; }
  .u-scrollbar-design-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5; }
  .u-scrollbar-design-1::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5; }
  .u-scrollbar-design-1::-webkit-scrollbar-thumb {
    background-color: #000000; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.15;
  z-index: -3;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  border: none;
  display: inline-block;
  text-decoration: none;
  padding: 1.4rem 4rem;
  cursor: pointer;
  background: black;
  font-size: inherit; }

.btn1, .btn1:link, .btn1:visited {
  border: none;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.4rem 4rem;
  border-radius: 3rem;
  position: relative;
  cursor: pointer; }

.btn1:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  backface-visibility: hidden; }
  .btn1:hover::after {
    transform: scalex(1.4) scaleY(1.5);
    opacity: 0;
    backface-visibility: hidden; }

.btn1:focus, .btn1:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }

.btn1::after {
  content: '';
  display: inline-block;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 100px;
  opacity: 1;
  transition: all 0.4s; }

.btn1--animated {
  animation-name: moveInBottom;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards; }

.btn1--white {
  background-color: #ffffff;
  color: #777;
  backface-visibility: hidden; }
  .btn1--white::after {
    background-color: #ffffff; }

.btn1--green {
  background-color: #55c57a;
  color: #ffffff;
  backface-visibility: hidden; }
  .btn1--green::after {
    background-color: #55c57a; }

.btn-text, .btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  color: #55c57a;
  border-bottom: 1px solid #7ed56f;
  padding: 3px 5px;
  transition: all ease-in-out 0.2s; }

.btn-text:hover {
  transform: translateY(-2px);
  color: #ffffff;
  background-color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 1rem 0.8rem rgba(0, 0, 0, 0.2);
  background-color: #28b485; }

.btn2, .btn2:link, .btn2:visited {
  display: inline-block;
  padding: 1.4rem 4rem;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  color: black;
  transition: color 0.1s ease, border 0.1s linear 0.3s;
  z-index: 1; }

.btn2:hover {
  color: white; }

.btn2::before {
  background-color: #f7f8f7;
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  transition: height 0.5s ease; }

.btn2:hover::before {
  height: 0%; }

.btn2::after {
  background-color: #020202;
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  z-index: -1;
  bottom: 0;
  left: 0;
  transition: height 0.5s ease;
  height: 0%; }

.btn2:hover::after {
  height: 100%; }

.btn3, .btn3:link, .btn3:visited {
  display: inline-block;
  padding: 1.4rem 4rem;
  position: relative;
  cursor: pointer;
  color: black;
  outline: none;
  background: linear-gradient(to right, white 0%, white 35%, black 35%, black 70%, white 70%, white 100%);
  background-position: 300% 0%;
  background-size: 301% 100%;
  background-repeat: repeat;
  transition: background-size 01s ease 0.5s, color 0s 0.8s ease; }

.btn3:hover {
  color: white;
  background-size: 600% 600%; }

.btn3::before {
  content: '';
  position: absolute;
  border-top: 1px solid black;
  border-left: 1px solid black;
  z-index: 2;
  left: -1px;
  top: -1px;
  opacity: 0;
  height: 0%;
  width: 0%;
  transition: height 0.3s linear, width 0.3s linear, opacity 0s 0.29s; }

.btn3:hover::before {
  width: calc(100% + 1px);
  height: 100%;
  opacity: 1;
  transition: height 0.5s linear, width 0.5s linear; }

.btn3::after {
  content: '';
  position: absolute;
  z-index: 2;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  right: -1px;
  bottom: -1px;
  height: 0%;
  width: 0%;
  opacity: 0;
  transition: height 0.3s linear, width 0.3s linear, opacity 0s 0.29s; }

.btn3:hover::after {
  width: calc(100% + 1px);
  height: 100%;
  opacity: 1;
  transition: height 0.5s linear, width 0.5s linear; }

.card01 {
  display: flex; }

#cursorClockBox {
  width: 100%;
  height: 100%;
  position: absolute; }

#cursorClock {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  border: 3px solid black;
  background: transparent;
  cursor: none; }

.slides {
  display: flex;
  /* max-height: 40rem; */
  flex-direction: row;
  max-width: 90rem;
  border-radius: 3rem; }
  .slides .slide {
    /* display: block; */
    min-height: calc(45rem);
    border-radius: 4rem;
    margin: 2rem 0.25rem;
    min-width: 7rem;
    /* background: var(--slideBackground); */
    background: var(--slideBackground);
    background-size: auto 120%;
    /* 100% 120% is done so that the transition takes smooth during active
    since the change in aspect ratio of div forces background to fit abruptly if 
    cover fit like text property is used */
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border: 2px solid #faf0cf;
    transition: all cubic-bezier(0.43, 0.74, 0.62, 0.93) 0.5s; }
    .slides .slide.active {
      flex-grow: 1000;
      max-width: 600px;
      /* max width should be the width of image otherwise the image wil be cut at border radius */
      border-radius: 4rem;
      border: 2px solid #f5ba99;
      background-size: auto 100%;
      overflow: hidden; }
      .slides .slide.active .slide__label {
        position: absolute;
        left: 5rem; }
        .slides .slide.active .slide__label__icon {
          background-color: white;
          opacity: 1; }
    .slides .slide__label {
      position: absolute;
      left: 3.5rem;
      transform: translate(-1.75rem);
      bottom: 2.5rem;
      height: 4rem;
      color: white;
      display: flex;
      flex-direction: row;
      transition: left ease 0.4s; }
      .slides .slide__label__icon, .slides .slide__label__info {
        float: left;
        flex-shrink: 0;
        backface-visibility: hidden; }
      .slides .slide__label__icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        width: 3.5rem;
        overflow: hidden;
        background-color: white;
        border-radius: 50%;
        opacity: 0.8;
        font-size: 2rem;
        color: black;
        text-align: center;
        transition: opacity 0.2s; }
      .slides .slide__label__info {
        display: flex;
        color: white;
        flex-direction: column;
        flex-wrap: nowrap;
        opacity: 1;
        margin-left: 1rem;
        transition: opacity 1s ease 0.2s; }
        .slides .slide__label__info__main {
          font-size: 2rem; }

.slides .slide:not(.active) .slide__label .slide__label__info {
  visibility: hidden;
  opacity: 0; }

.slides .slide:nth-of-type(1) .slide__label__icon > i {
  color: #770b0b; }

.slides .slide:nth-of-type(2) .slide__label__icon > i {
  color: #20810c; }

.slides .slide:nth-of-type(3) .slide__label__icon > i {
  color: #0e5545; }

.slides .slide:nth-of-type(4) .slide__label__icon > i {
  color: #121075; }

.slides .slide:nth-of-type(5) .slide__label__icon > i {
  color: #630b79; }

.slide_container-type-1 {
  display: grid;
  place-items: center;
  align-content: center;
  padding: 2rem 0; }
  .slide_container-type-1 .slider {
    position: relative;
    display: grid;
    place-items: center;
    max-width: 800px;
    overflow: hidden;
    box-shadow: 20px 20px 50px rgba(51, 102, 153, 0.4), -20px -20px 50px rgba(179, 204, 230, 0.2); }
    .slide_container-type-1 .slider .slide {
      max-height: 100vh;
      display: flex; }
      .slide_container-type-1 .slider .slide img {
        width: 100%;
        flex: 1 0 100%;
        object-fit: cover; }
    .slide_container-type-1 .slider__btn-container {
      position: absolute;
      width: 100%; }
      .slide_container-type-1 .slider__btn-container .slider__btn {
        border-radius: 50%;
        position: absolute;
        z-index: 2;
        padding: 0.2rem;
        top: 50%;
        display: grid;
        place-items: center;
        cursor: pointer;
        background: rgba(38, 77, 115, 0.15);
        color: rgba(236, 242, 249, 0.9); }
        .slide_container-type-1 .slider__btn-container .slider__btn svg {
          pointer-events: none; }
        .slide_container-type-1 .slider__btn-container .slider__btn--left {
          left: 0;
          transform: translate(50%, -50%); }
        .slide_container-type-1 .slider__btn-container .slider__btn--left:is(:hover, :focus) {
          animation: 850ms infinite moveLeft cubic-bezier(0.25, -0.5, 0.17, 1.2); }
        .slide_container-type-1 .slider__btn-container .slider__btn--right {
          right: 0;
          transform: translate(-50%, -50%); }
        .slide_container-type-1 .slider__btn-container .slider__btn--right:is(:hover, :focus) {
          animation: 850ms infinite moveRight cubic-bezier(0.25, -0.5, 0.17, 1.2); }

@keyframes moveLeft {
  10% {
    left: -3px; } }

@keyframes moveRight {
  10% {
    right: -3px; } }

.section--about {
  padding: 4rem;
  min-height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background: #df440c; }
  .section--about .profile {
    flex-basis: 34rem;
    flex-grow: 2; }
    .section--about .profile figure {
      min-width: 20rem;
      border: 0.5rem solid red;
      border-image: repeating-linear-gradient(45deg, transparent, transparent 5px, red 6px, red 15px, transparent 16px, transparent 20px) 20/1rem;
      --b: 0.8rem;
      /* border width */
      --c: 3em;
      /* corner size */
      --r: 0;
      /* corner rounding */
      position: relative;
      margin: 1em auto;
      border: solid var(--b) transparent; }
      .section--about .profile figure::before {
        position: absolute;
        z-index: -1;
        inset: calc(-1 * var(--b));
        border: inherit;
        border-radius: var(--r);
        background: linear-gradient(orange, deeppink, purple) border-box;
        --corner: conic-gradient(
            from -90deg at var(--c) var(--c),
            red 25%,
            #0000 0
          )
          0 0 / calc(100% - var(--c)) calc(100% - var(--c)) border-box;
        --inner: conic-gradient(red 0 0) padding-box;
        -webkit-mask: var(--corner), var(--inner);
        -webkit-mask-composite: source-out;
        mask-composite: source-out;
        mask: var(--corner) subtract, var(--inner);
        content: ""; }
      .section--about .profile figure:hover::before {
        --corner: conic-gradient(
            from -90deg at var(--c) var(--c),
            red 25%,
            #0000 0
          )
          0 0 / calc(100% - var(--c)) calc(100% - var(--c)) border-box; }
  .section--about .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-grow: 1;
    width: 40%;
    flex-basis: 40rem;
    color: wheat;
    margin-block: 8%;
    margin-inline: 5%; }
    .section--about .description h3 {
      font-family: "Lovelyn";
      font-feature-settings: "swsh" 1;
      font-variant-alternates: swash(fancy);
      margin-block: 1rem;
      line-height: 1em;
      font-size: 9rem;
      font-size: calc( 3rem + (6) * (( 100vw - 37.5em ) / (112.5))); }
    .section--about .description p {
      flex-grow: 2; }
    .section--about .description .links {
      display: flex;
      justify-content: center;
      align-self: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 1rem; }
      .section--about .description .links .link--linkedin:hover {
        filter: drop-shadow(0 1px 4px #0a66c2); }
      .section--about .description .links .link--github:hover {
        filter: drop-shadow(0 1px 4px #15171a); }

.landingPage1 {
  display: block;
  height: 100vh;
  background-image: linear-gradient(120deg, rgba(184, 233, 127, 0.575) 0%, rgba(129, 212, 208, 0.493) 50%, rgba(0, 0, 0, 0.623) 50%, rgba(209, 12, 183, 0.623) 100%);
  position: relative;
  background-size: 100% 100%;
  animation: gradient 5s ease infinite; }
  .landingPage1__box {
    display: block;
    max-width: 70rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center; }
    .landingPage1__box--left {
      display: block;
      right: 12rem;
      margin: 1rem 3rem 1rem 3rem; }
    .landingPage1__box--right {
      display: block;
      margin: 1rem 1rem 3rem 3rem;
      left: 12rem; }
  .landingPage1__leftVideoWrapper {
    clip-path: polygon(0vh 0vh, 69vw 0vh, 10vw 100vw, 0vh 100vw); }
  .landingPage1__checkbox:checked ~ .landingPage1__box--right {
    background-color: red; }

.landingPage2 {
  display: block;
  height: 100vh;
  background-color: wheat;
  position: relative;
  background-size: 100% 100%;
  animation: gradient 5s ease infinite; }
  .landingPage2__box {
    display: block;
    max-width: 70rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center; }
    .landingPage2__box--left {
      display: block;
      right: 12rem;
      margin: 1rem 3rem 1rem 3rem; }
    .landingPage2__box--right {
      display: block;
      margin: 1rem 1rem 3rem 3rem;
      left: 12rem; }
  .landingPage2__leftVideoWrapper {
    clip-path: polygon(0vh 0vh, 69vw 0vh, 10vw 100vw, 0vh 100vw); }
  .landingPage2__checkbox:checked ~ .landingPage2__box--right {
    background-color: red; }

.hero1 {
  position: relative;
  background: black;
  height: 100vh;
  min-height: fit-content;
  width: 100%;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #1a1c1d 0%, #000000 74%);
  font-variant: no-common-ligatures proportional-nums; }
  .hero1 .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -30%;
    text-align: center; }
    .hero1 .wrapper .username {
      font-size: 7.5rem;
      font-size: calc( 5rem + (2.5) * (( 100vw - 37.5em ) / (112.5)));
      color: white;
      cursor: none;
      white-space: nowrap;
      padding-inline: 15px; }
      .hero1 .wrapper .username .name {
        position: relative;
        display: inline; }
        .hero1 .wrapper .username .name .mask {
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          background-size: 100%;
          clip-path: circle(var(--clip-size) at var(--clip-position-sabudh));
          background-image: linear-gradient(98.3deg, red, red); }
        .hero1 .wrapper .username .name .fill {
          position: absolute; }
      .hero1 .wrapper .username .red {
        position: relative;
        display: inline;
        color: red; }
        .hero1 .wrapper .username .red .mask {
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          background-size: 100%;
          clip-path: circle(var(--clip-size) at var(--clip-position-t));
          background-image: linear-gradient(98.3deg, white, white); }
        .hero1 .wrapper .username .red .fill {
          position: absolute; }
    .hero1 .wrapper .make-visible {
      margin: 6rem;
      padding: -0.1rem; }
      .hero1 .wrapper .make-visible .btn {
        white-space: nowrap; }
      .hero1 .wrapper .make-visible:hover > button {
        visibility: visible;
        color: white; }
      .hero1 .wrapper .make-visible:hover ~ .hero1 .wrapper .make-visible h1 {
        text-decoration: underline;
        text-transform: capitalize; }
    .hero1 .wrapper button.hidden {
      visibility: hidden;
      border: 1px solid transparent;
      background: transparent;
      opacity: 0;
      transform: translateZ(2rem);
      transition: opacity 0.7s ease; }
      .hero1 .wrapper button.hidden:hover {
        color: whitesmoke;
        opacity: 1; }

@keyframes clip-size-transition {
  0% {
    --clip-size: 10; }
  100% {
    --clip-size: 30; } }

.section--works {
  min-height: 50vh;
  padding-inline: 2rem;
  background: #dceaf0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #e1ecf1, #97b5be);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #e1ecf1, #b2c8cf);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .section--works .section-title {
    color: white;
    font-size: 8rem;
    font-size: calc( 3rem + (5) * (( 100vw - 37.5em ) / (112.5))); }
  .section--works .works {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem; }
    .section--works .works .work {
      position: relative;
      flex-basis: 4rem;
      color: #979797;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex: 0 0 16rem;
      border: 2px solid #12242b;
      aspect-ratio: 1/1;
      align-items: stretch;
      transition: border-color 0.5s ease-in, color 0.4s ease; }
      .section--works .works .work .slide_container {
        min-height: 5rem;
        overflow: hidden; }
        .section--works .works .work .slide_container .slider {
          height: 50%; }
          .section--works .works .work .slide_container .slider .slide {
            height: 100%; }
      .section--works .works .work_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        margin-block: 0.5rem;
        min-height: 2.5lh;
        border-bottom: 2px solid #12242b;
        padding-inline: 0.5rem; }
      .section--works .works .work .wrapper {
        display: flex;
        flex-direction: row; }
      .section--works .works .work_description {
        padding-inline: 0.5rem;
        text-align: justify;
        align-self: center;
        flex-grow: 1; }
      .section--works .works .work_sample-image {
        overflow-y: scroll;
        max-height: 100%;
        overflow-y: scroll;
        align-self: flex-end;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */ }
        .section--works .works .work_sample-image::-webkit-scrollbar {
          display: none; }
      .section--works .works .work:hover {
        border-color: #12242b; }
        .section--works .works .work:hover .work_title {
          color: white; }

.personal-page {
  display: none; }

.professional-page {
  display: none; }

.checkbox__personal {
  font-size: 1.5rem;
  display: none; }

.checkbox__professional {
  font-size: 1.5rem;
  display: none; }

.checkbox__personal:checked ~ .personal-page {
  display: block; }

.checkbox__professional:checked ~ .professional-page {
  display: block;
  color: purple; }

.section-memory {
  max-width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, wheat, white); }

.section {
  padding-block: 3rem; }
  .section-title {
    margin-block: 3rem;
    text-transform: uppercase;
    color: #3d3d3d;
    font-weight: 300; }

@font-face {
  font-family: 'Lovelyn';
  src: url("../fonts/lovelyn.otf") format("opentype"), url("../fonts/lovelyn.ttf") format("truetype"); }

@font-face {
  font-family: 'Ginebra';
  src: url("../fonts/ginebra.ttf") format("truetype"); }

@font-feature-values "Lovelyn" {
  @swash {
    fancy: 2; } }
