.composition {
  position: relative;
  //   border: 1px solid darkblue;
  //   height: 24rem;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.4);
    border-radius: 2px;
    position: absolute;
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in, outline 0.25s ease-in,  z-index  0.2s ease-in    ;
    transition: border-radius 0;
    outline-offset: 1.5rem;
    z-index: 5;

    &--p1 {
      top: -3rem;
      left: 0;
    }

    &--p2 {
      top: 2rem;
      right: 3rem;
    }

    &--p3 {
      top: 8rem;
      left: 6rem;
    }

    &:hover {
      transform: scale(1.2);
      box-shadow: 3 3rem 4rem rgba($color: #000000, $alpha: 0.5);
      z-index: 10;
      outline: 1.5rem solid $color-primary-dark;
      border-radius: 0px;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
    // border-radius: 0px;
  }
}
