<header
  class="fixed mix-blend-normal  top-0 w-full px-4 pt-1 flex gap-4 justify-between bg-transparent z-[9000] "
>
  <div class="stickysabudhthapatext z-1000 w-fit">
    <a
      href="/"
      class="uppercase font-lexend font-semibold text-slate-900 "
    >
      t.sabudh
    </a>
  </div>
  <div class="stickynavigation font-semibold self-start">
    <a
      href="/about"
      class="relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-amber-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300"
      >About</a
    >
    ,
    <a
      href="/contact"
      class="relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-amber-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300"
      >Contact</a
    >
  </div>
</header>

<main
  class="about_hero_main relative min-h-dvh  w-full h-full bg-[#efefef] flex items-center justify-center"
>

  <section class="about_hero_content relative p-4 mt-[5vh] md:mt-10 flex flex-col gap-8"
      data-lag="0.1"
  >
    <div
      class="about_hero_h1 flex flex-col gap-2 text-8xl max-xl:text-7xl max-lg:text-6xl"
    >
      <h1
        class="text-center italic text-zinc-950 font-medium font-runtime leading-[0.85]"
      >
        <span class="text-zinc-600"> System that survives, </span>
      </h1>
      <h1
        class="text-center text-zinc-950 font-medium font-runtime leading-[0.85]"
      >
        software that performs
      </h1>
    </div>
    <div
      class="about_hero_h2 text-zinc-600 text-center text-4xl max-xl:text-3xl max-md:text-2xl leading-[0.9] tracking-[0.1ch]"
    >
      <h2 class="font-glametrix">
        I am a<span>&nbsp;software engineer&nbsp;</span>building scalable
        systems.
      </h2>
      <h2 class="font-glametrix">
        I excel in&nbsp;<span class="text-zinc-800"
          >Web Apps & Distributed System</span
        >&nbsp;domain.
      </h2>
    </div>
  </section>



  <section class="absolute right-0 bottom-0">
    <div
      class="relative w-20 h-20 rounded-full flex justify-center items-center text-white"
    >
      <div
        class="absolute w-20 h-20 rounded-full text-zinc-300 bg-[url(/assets/images/scroll-down-svg.svg)] bg-center bg-size-[40px] bg-no-repeat"
      ></div>
      <div
        class="about_hero_text absolute w-full h-full text-black font-glametrix text-sm tracking-wide"
      >
        <p>&nbsp;Scroll down&nbsp;</p>
      </div>
    </div>
  </section>
</main>
