<main
  class="index_hero_main relative min-h-dvh  w-full h-full bg-[#efefef] flex items-center justify-center"
>
  <div
    class="index_hero_background absolute inset-0 bg-[url(/assets/images/sabudh_hero.png)] bg-no-repeat bg-bottom-right opacity-50 bg-size-[auto_80vh]"
  ></div>
  <section class="index_hero_content relative p-4 mt-[5vh] md:mt-10 flex flex-col gap-8">
    <div
      class="index_hero_h1 flex flex-col gap-2 text-8xl max-xl:text-7xl max-lg:text-6xl"
    >
      <h1
        class="text-center italic text-zinc-950 font-medium font-runtime leading-[0.85]"
      >
        <span class="text-zinc-600"> Systems that survive, </span>
      </h1>
      <h1
        class="text-center text-zinc-950 font-medium font-runtime leading-[0.85]"
      >
        software that performs
      </h1>
    </div>
    <div
      class="index_hero_h2 text-zinc-600 text-center text-4xl max-xl:text-3xl max-md:text-2xl leading-[0.9] tracking-[0.1ch]"
    >
      <h2 class="font-glametrix">
        I am a<span>&nbsp;software engineer&nbsp;</span>building scalable
        systems.
      </h2>
      <h2 class="font-glametrix">
        I excel in&nbsp;<span class="text-zinc-800"
          >Web Apps & Distributed System</span
        >&nbsp;domain.
      </h2>
    </div>
  </section>



  <section class="absolute right-0 bottom-0">
    <div
      class="relative w-20 h-20 rounded-full flex justify-center items-center text-white"
    >
      <div
        class="absolute w-20 h-20 rounded-full text-zinc-300 bg-[url(/assets/images/scroll-down-svg.svg)] bg-center bg-size-[40px] bg-no-repeat"
      ></div>
      <div
        class="index_hero_text absolute w-full h-full text-black font-glametrix text-sm tracking-wide"
      >
        <p>&nbsp;Scroll down&nbsp;</p>
      </div>
    </div>
  </section>
</main>
