<main class="px-4">
  <section class="py-20">
    <div class="flex gap-6 max-md:flex-col-reverse">
      <section class="left basis-1/2">
        <p>
          I am a full-stack software engineer with strong skills in designing
          and building scalable web applications. I create intuitive,
          high-performance user interfaces, architect efficient backend systems,
          and ensure smooth integration between the two. My experience spans
          frontend development, API design, and database architecture, with a
          focus on delivering responsive, accessible, and maintainable
          solutions.
        </p>
        <p>
          I specialize in stateless API design, real-time communication, state
          management, and performance optimization. I work with both relational
          and non-relational databases, implement secure authentication and
          authorization systems, and design solutions that are resilient,
          fault-tolerant, and user-focused. I enjoy solving complex problems,
          translating requirements into robust technical solutions, and
          continuously improving systems for scalability and reliability.
        </p>
      </section>
      <section class="right basis-1/2">
        <figure class="bg-amber-300 rounded-sm flex justify-center h-[400px]">
          <img src="/assets/images/sabudh.png" alt="Sabudh Bahadur Thapa" />
        </figure>
      </section>
    </div>
  </section>
</main>
