<main class="px-5">
    <section class="py-6 flex flex-col gap-10">

        <div class="h-[1px] bg-slate-600 mb-1"></div>
        <div class="flex justify-between items-center flex-wrap gap-4 max-md:justify-center font-semibold">
            <div class="flex items-center gap-4">

                <div class="_wrapper">

                    <a href="/"
                        class="relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-amber-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300">
                        Home
                    </a>
                </div>
                <div class="_wrapper">

                    <a href="/about"
                        class="relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-amber-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300">
                        About
                    </a>
                </div>
                <div class="_wrapper">
                    <a href="https://drive.google.com/drive/folders/1zcsdqVT6uzs8NA7oFs3Z_OHkE048Ka9Z?usp=sharing"
                        target="_blank" rel="noopener"
                        class="relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-amber-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300">
                        Resume
                    </a>
                </div>
            </div>

            <div class="flex items-center gap-4">
                <div class="_wrapper">
                    <a href="mailto:tsabudh@gmail.com"
                        class="relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-amber-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300">
                        <span>tsabudh</span>&#64;<span>gmail.com</span>
                    </a>
                </div>
            </div>
            <div class="flex items-center gap-4">
                <div class="_wrapper">
                    <a href="https://github.com/tsabudh" target="_blank" rel="noopener"
                        class="relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-amber-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300">
                        Github
                    </a>
                </div>
                <div class="_wrapper">
                    <a href="https://www.linkedin.com/in/tsabudh" target="_blank" rel="noopener"
                        class="relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-amber-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300">
                        Linkedin
                    </a>
                </div>

            </div>
        </div>

    </section>
</main>