<header class="fixed top-0 w-full px-4 pt-1 flex gap-4 justify-between bg-transparent z-[9000] ">
  <div class="stickysabudhthapatextfreshfarms z-1000 w-fit">
    <a href="/" class="uppercase font-lexend font-semibold text-slate-900 mix-blend-difference">
      t.sabudh
    </a>
  </div>
  <div class="stickynavigationfreshfarms font-semibold self-start  max-md:text-right">
    <a href="/about"
      class="relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-amber-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300">About</a>
    ,
    <a href="/contact"
      class="relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-amber-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300">Contact</a>
  </div>
</header>
<main class="px-5">
    <section class="py-6 min-h-[100dvh] flex flex-col justify-around">
        <div class="opacity-0"></div>
        <div class="basis-3/4 h-3/4 shrink-0 flex flex-col justify-center items-center">

            <h1 class="text-5xl">Freshfarms</h1>
            <h2 class="text-xl">Project Lead</h2>
        </div>
        <div class="flex gap-10 basis-1/4 justify-around flex-wrap">
            <div class="flex flex-col  text-center">
                <span class="uppercase text-2xl font-medium">Role</span>
                <h3>Project Lead</h3>
                <h3>Backend Developer</h3>
                <h3>Frontend Developer</h3>
            </div>
            <div class="flex flex-col text-center">
                <span class="uppercase text-2xl font-medium">Team</span>
                <h3>Sabudh Thapa</h3>
                <span>(SOLO)</span>
            </div>
            <div class="flex flex-col text-center">
                <span class="uppercase text-2xl font-medium">Duration</span>
                <span>4 Months</span>

            </div>

        </div>
    </section>
</main>