<main class="px-5">
    <section class="py-6 flex flex-col gap-10 justify-between items-center">
        <div class="flex flex-col gap-4 justify-center items-center">
            <h2 class="text-4xl">Overview</h2>
            <p class="flex flex-col max-w-3xl">
                Freshfarms is a web application designed to record the transactions of a local farm's outlet. It is
                built
                with only one goal in mind:
                to make it easy for the farm's outlet to keep track of their customers' purchases and payments therefore
                reducing conflicts during payments.

            </p>
        </div>
        <div class="flex flex-col gap-4 justify-center items-center">
            <h2 class="text-4xl">Problem</h2>
            <p class="flex flex-col max-w-3xl">
                Local farms operate on credits and often struggle with managing customer transactions, leading to
                confusion
                and disputes.
                Freshfarms addresses this issue by providing a simple and efficient way to log all transactions,
                ensuring
                transparency and accountability.
                The application is built with a modern tech stack, including React.js, Tailwind CSS, Express and
                MongoDB. It
                is deployed on Netlify for a demo.
                This project was built for reassurance for the farm's outlet owner, who was concerned about potential
                conflicts with customers over payments.
                Now, with freshfarms in place, the staffs as well as the customers can view their transactions and
                maintain
                positive relationships with each other.
            </p>
        </div>
        <div class="flex flex-col gap-4 justify-center items-center">
           
            <h2 class="text-4xl">Design</h2>
            <p class="flex flex-col max-w-3xl">
                The design was created without using Figma or other design tools. Instead, it focused on simplicity and
                usability, ensuring that even staff members with limited computer skills could easily navigate and use
                the application. The interface uses clear layouts, large buttons, and straightforward workflows to
                minimize confusion and make daily operations efficient.
            </p>
        </div>
        <h2 class="text-4xl">Features</h2>
        <div class="flex flex-col items-center gap-6 -mt-5">
            <div class="flex flex-col gap-4 basis-1/2 max-w-3xl">
                <h3 class="text-2xl">
                    Transaction Logging
                </h3>
                <ul>
                    <li> Logs all transactions made by users, including purchases on credits, partial and full payments.
                    </li>
                    <li>Provides a detailed history of all financial activities for transparency and accountability.
                    </li>
                    <li>Allows users to view their transaction history and track their financial activities.</li>

                </ul>
            </div>
            <div>
                <figure class="flex basis-1/2 gap-6 items-start justify-center flex-wrap mt-6">
                    <img class="max-h-[350px] object-contain rounded-2xl border-slate-700 border"
                        src="/assets/images/freshfarmspurchase.png" alt="Transaction Logging">
                    <img class="max-h-[350px] object-contain rounded-2xl border-slate-700 border"
                        src="/assets/images/freshfarmspayment.png" alt="Transaction Logging">
                    <img class="max-h-[550px] object-contain rounded-2xl border-slate-700 border"
                        src="/assets/images/freshfarmstransactiondetail.png" alt="Transaction Logging">
                    <img class="max-h-[550px] object-contain rounded-2xl border-slate-700 border"
                        src="/assets/images/freshfarmstransactions.png" alt="Transaction Logging">
                </figure>
            </div>
        </div>
        <div class="flex flex-col items-center">
            <div class="flex flex-col gap-4 basis-1/2">
                <h3 class="text-2xl">
                    Customer Profile
                </h3>
                <ul>
                    <li> Provides a detailed profile on a customer, their delivery location and latest transations.</li>
                    <li>Summarizes the customer's total spending and outstanding balance for easy reference.</li>
                    <li>Allows editing directly on details page.</li>

                </ul>
            </div>
            <div class="flex flex-col">
                <figure class="flex basis-1/2 gap-6 items-start justify-center flex-wrap mt-6">
                    <img class="max-h-[550px] object-contain rounded-2xl border-slate-700 border"
                        src="/assets/images/freshfarmscustomer.png" alt="Transaction Logging">
                </figure>
            </div>
        </div>
        <div class="flex flex-col items-center">
            <div class="flex flex-col gap-4 basis-1/2 max-w-3xl">
                <h3 class="text-2xl">
                    Realtime Chatting
                </h3>
                <ul>
                    <li> Enables real-time communication between users and the admin for quick support and inquiries.
                    </li>

                </ul>
            </div>
            <div class="flex flex-col">
                <figure class="flex basis-1/2 gap-6 items-start justify-center flex-wrap mt-6">
                    <img class="max-h-[550px] object-contain rounded-2xl border-slate-700 border"
                        src="/assets/images/freshfarmschat.png" alt="Transaction Logging">
                </figure>
            </div>
        </div>

        <div class="flex flex-col gap-4 justify-center items-center">

            <h2 class="text-4xl">Result</h2>
            <p class="flex flex-col max-w-3xl">
                The implementation of Freshfarms has significantly improved the management of customer transactions at
                the local farm's outlet. Staff members can now easily log and track purchases and payments, reducing
                the likelihood of disputes with customers. The transparency provided by the transaction history has
                fostered trust between the farm and its customers, leading to better relationships and increased
                customer satisfaction. Overall, Freshfarms has streamlined operations and enhanced the financial
                management of
                the outlet. Summary of purchases and payments are now easily accessible for customers that purchase on
                credits and pay at end of month, <span class="font-medium"> ensuring clarity and reducing
                    misunderstandings.</span>


            </p>
        </div>
    </section>
</main>