<header
  class="fixed mix-blend-difference isolate top-0 w-full px-4 pt-1 flex gap-4 justify-between bg-transparent z-[9000] text-white "
>
  <p class=" font-timeburner font-bold tracking-[0.2ch]">Sabudh Thapa</p>
  <nav class="font-timeburner font-bold tracking-[0.2ch] flex gap-4">
    <a href="/">Home</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
