<header
  class="fixed top-0 w-full px-4 pt-1 flex gap-4 justify-between bg-transparent z-[9000] text-white"
>
  <div class="stickysabudhthapatext z-9000">
    <a
      href="/"
      class="uppercase font-lexend font-semibold text-white mix-blend-difference "
    >
      sabudh
    </a>
  </div>
  <div class="stickynavigation font-semibold self-start text-white ">
    <a
      href="/about"
      class="relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-amber-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300"
      >About</a
    >
    ,
    <a
      href="/contact"
      class="relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-amber-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300"
      >Contact</a
    >
  </div>
</header>
