<main class="px-5 mx-auto">
  <section class="py-6">
    <div class="flex flex-col gap-10">
      <section class="flex gap-6 max-md:flex-col">
        <div
          class="skd relative h-[600px] w-3/5 shrink-0 max-w-[860px] rounded-md bg-amber-700 bg-[url(/assets/images/freshfarmsmockup.webp)] bg-no-repeat bg-center bg-cover  max-md:w-full"
          data-lag="0.2"
        >
          <div
            class="absolute inset-0 text-rose-50 font-lexend uppercase text-8xl font-bold"
          >
            <h3 class="absolute top-0 left-0 p-10">fresh</h3>
            <h3 class="absolute bottom-0 right-0 p-10">farms</h3>
          </div>
        </div>
        <div class="text-2xl" data-lag="0.3">
          <p>Digital book keeping for precise logging.</p>
          <a href="" class="text-amber-500 hover:underline underline-offset-4">Learn more &#x2192;</a>
        </div>
      </section>
      <section class="flex gap-6 max-md:flex-col">
        <div
          class="skd relative h-[600px] w-3/5 shrink-0  max-w-[860px] rounded-md bg-sky-700 bg-[url(/assets/images/telequeuemockup.webp)] bg-no-repeat bg-center bg-cover  max-md:w-full"
          data-lag="0.2"
        >
          <div
            class="absolute inset-0 text-sky-50 font-lexend uppercase text-8xl font-bold"
          >
            <h3 class="absolute top-0 left-0 p-10">tele</h3>
            <h3 class="absolute bottom-0 right-0 p-10">queue</h3>
          </div>
        </div>
        <div class="text-2xl" data-lag="0.3">
          <p>Booking system that can handle the real spikes.</p>
          <a href="" class="text-amber-500 hover:underline underline-offset-4">Learn more &#x2192;</a>
        </div>
      </section>
    </div>
  </section>
</main>
