<main class="px-6">
  <section class="py-96">
    <div class="flex items-center justify-center">
      <a
        href="mailto:tsabudh@gmail.com"
        class="inline-flex items-center gap-4 p-4 bg-amber-400 text-white rounded-3xl hover:gap-8 hover:bg-white hover:text-amber-400 transition-all ease-in duration-75"
      >
        <h3>tsabudh@gmail.com</h3>
        <span class="text-3xl">&#x2192;</span>
      </a>
    </div>
  </section>
</main>
