<main class="px-5 mb-80">
  <section class="py-6 min-h-[40vh]">
    <h1 class="text-[clamp(86px,11vw,140px)] font-bold font-lexend text-slate-800 leading-[0.9em] max-sm:text-[clamp(66px,14vw,86px)]">
      <span>SABUDH</span>
      <span class="text-right">THAPA</span>
    </h1>
    <div class="flex justify-between gap-5 tracking-tight font-lexend mt-6 max-sm:flex-col-reverse">
      <div>
        <h2 class="uppercase font-semibold text-zinc-600">software engineer</h2>
        <h2 class="uppercase font-semibold text-zinc-600">building web applications</h2>
        <h2 class="uppercase font-semibold text-zinc-600">& distributed systems.</h2>
      </div>
      <div class="font-semibold">
        <a href="#"> About, </a>
        <a href="/contact"> Contact </a>
      </div>
    </div>
  </section>
</main>
