<main class="px-5 mb-80">
  <section>
    <h1 class="text-[140px] font-bold font-lexend text-slate-800">
      <span>SABUDH</span>
      <span class="text-right">THAPA</span>
    </h1>
    <div class="flex justify-between tracking-tight font-lexend">
      <div>
        <h2 class="uppercase font-semibold">software engineer</h2>
        <h2 class="uppercase font-semibold">building web applications</h2>
        <h2 class="uppercase font-semibold">& distributed systems.</h2>
      </div>
      <div class="font-semibold">
        <a href="#"> About, </a>
        <a href="/contact"> Contact </a>
      </div>
    </div>
  </section>
</main>
