<main class="px-5">
  <section class="">
    <div class="flex flex-col gap-6">
      <section class="skd relative h-[600px] rounded-2xl bg-amber-700 bg-[url(/assets/images/freshfarmsmockup.jpg)] bg-no-repeat bg-center bg-cover" data-lag="0.2">
        <div
          class="absolute inset-0 text-white font-lexend uppercase text-8xl font-bold"
        >
          <h3 class="absolute top-0 left-0 p-10">fresh</h3>
          <h3 class="absolute bottom-0 right-0 p-10">farms</h3>
        </div>
        
      </section>
      <section class="skd relative h-[600px] rounded-2xl bg-sky-800" data-lag="0.2">
        <div
          class="absolute inset-0 text-white font-lexend uppercase text-8xl font-bold"
        >
          <h3 class="absolute top-0 left-0 p-10">Tele</h3>
          <h3 class="absolute bottom-0 right-0 p-10">Queue</h3>
        </div>
      </section>
    </div>
  </section>
</main>
