<main class="px-5 mb-80">
  <section class="py-6 min-h-[40vh]">
    <div
      class="text-[clamp(86px,11vw,140px)] font-bold font-lexend text-slate-800 leading-[0.9em] max-sm:text-[clamp(66px,14vw,86px)]"
    >
      <h1 class="overflow-y-hidden" id="sabudh">
        <div class="inline-flex">
          <span>S</span>
          <span>A</span>
          <span>B</span>
          <span>U</span>
          <span>D</span>
          <span>H</span>
        </div>

        <div class="inline-flex">
          <span>T</span>
          <span>H</span>
          <span>A</span>
          <span>P</span>
          <span>A</span>
        </div>
      </h1>
    </div>
    <div
      class="flex justify-between gap-5 tracking-tight font-lexend mt-6 max-sm:flex-col-reverse"
    >
      <div>
        <h2 class="uppercase font-semibold text-amber-600">
          software engineer
        </h2>
        <h2 class="uppercase font-semibold text-zinc-600">
          building web applications
        </h2>
        <h2 class="uppercase font-semibold text-zinc-600">
          & distributed systems.
        </h2>
      </div>
      <div class="">
        <div class="block stickynavigationhome font-semibold self-start">
          <a
            href="/about"
            class="relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-amber-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300"
            >About</a
          >
          ,
          <a
            href="/contact"
            class="relative inline-block before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:border-b-2 before:border-amber-400 before:scale-x-0 before:origin-right hover:before:scale-x-100 hover:before:origin-left before:transition-transform before:duration-300"
            >Contact</a
          >
        </div>
      </div>
    </div>
    <div class="stickysabudhthapatexthome z-9000">
      <a
        href="/"
        class="uppercase font-lexend font-semibold text-slate-900"
      >
        sabudh
      </a>
    </div>
  </section>
</main>
