@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

*
{
    box-sizing: border-box;
}


html
{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    outline: 0;
    font-size: 100%;
    width: 100%;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 

    
 }
 body::-webkit-scrollbar 
    {
        display: none; /* for Chrome, Safari, and Opera */
    }

 /* div
 {
     border:1px solid rgb(37, 238, 10);
 } */
 .everything
 {
     width:80vw;
     /* border:1px solid red; */
     /* position:absolute; */
     margin:0 auto;
     font-family: 'Sora', sans-serif;
 }

.nav
{
    /* background-color: black; */
    /* position: relative;
    min-height: 100; */
    width:100%;
    height:60px;
    background-color: rgb(18, 93, 179);
    /* border:1px solid greenyellow; */
    display: flex;
    justify-content: space-between;
    
}

.logo
{   
    font-size: 36px;
    font-weight: bold; 
    color: rgb(255, 255, 255);
    font-family: 'Sora', sans-serif;
    text-decoration: none;
    margin-left: 1em;
    /* font-family: 'Neonderthaw', cursive; */
    
   

}
/* .nav :last-child{

        margin-left: 10px;
} */

.nav-buttons
{   
    display:inline-block;
    /* border:1px solid pink; */
  
    /* float:right; */
}
.block {
    border: none;
    background:transparent;
    color: rgb(255, 255, 255);
    padding: 20px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    /* border:1px solid yellow; */
  }

/* ----------------------------------------------FIRST PAGE----------------- */
    .first-page
    {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .first-page-image
    {
        /* border:1px solid red; */
    }
    .first-page-text
    {
        /* border:1px solid blue; */
        padding: 80px 50px;
        text-align: center;
    }
/* ---------------------------------------------------SECOND PAGE--------------------------------------- */
            .second-page
            {
                height:400px;
                /* border:1px solid rgb(243, 19, 187); */
                margin-top: 30px;
            }
                .second-page p
                {
                    font-size: 24px;
                    font-family: 'Sora', sans-serif;
                    text-align: justify;
                }
                .second-page h1
                {
                    text-align: center;
                }

/* ----------------------------------------------------------------THIRD PAGE-------------------------------------- */
    .third-page
    {
        /* border:2px solid rgb(5, 5, 5); */
        height:400px;
        margin-top: 30px;
    }

    .third-page > h1
    {
        align-self: flex-start;
        font-family: 'Sora', sans-serif;

        text-align:center;
    }

    .third-page-container
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;


    }
    
        .third-page-content
        {
            /* border:1px solid rgb(46, 255, 19); */
            height:200px;
            width:200px;
            margin:10px 30px;
            text-align: center;
        }

            .third-page-content img
            {
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
            }

  
/* -----------------------------------------FOURTH PAGE------------------------------------------ */

.fourth-page
{
    border:1px solid rgb(35, 19, 255); 
}

.form-wrapper
{
    border:1px solid rgb(68, 240, 0); 
    background-image: radial-gradient(rgb(252, 252, 252), #ffffff);
    border-radius: 20px;
    width: 400px;
    
    padding:10px 40px;
    margin:10px auto;
}
    .form-wrapper>h3
    {
        text-align: center;
        margin:3px;
    }
.form-outline
{
    /* border:1px solid rgb(237, 250, 235);  */
    border-radius: 20px;
    padding:30px 70px;
}
    .form-field input
    {
        border-radius: 20px;
        height:2rem;
        font-size: 18px;
        padding-left: 15px;
    }
        .form-field small
        {   
            display: block;
            visibility: hidden;
        }

/* ---------------------------------------------------------------------------- */
  .big-text
  {
      font-size: 48px;
      color:rgb(80, 46, 18)
  }
  
  
  .footer
  {
      /* border:1px solid aqua; */
      text-align: center;
  }