%heading-1-a {
  font-size: 8rem;
  line-height: 1;
  letter-spacing: 0.05ch;
}

%heading-2-a {
  font-size: 5rem;
  line-height: 1.4em;
  letter-spacing: 0.02ch;
}
%heading-3-a {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: 0.01ch;
}

%heading-4-a {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.01ch;
}

p {
  font-size: 1.8rem;
}
