@use "sass:math";
@use "../abstract/variables" as *;
@use "../abstract/functions" as *;

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
@mixin clearfix100 {
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    clear: both;
    display: block;
  }
}

@mixin absolutecenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$phone-size: 26.875em; // sm
$tab-port-size: 52.125em; // md
$tab-land-size: 75em; // lg
$desktop-size: 87.5em; //xl
$big-screen-size: 120em; // xxl

// $phone-size: 430px; // sm
// $tab-port-size: 834px; // md
// $tab-land-size: 1200px; // lg
// $desktop-size: 1400px; //xl
// $big-screen-size: 1920px; // xxl

@mixin respond($breakpoint) {
  // 1em =16px
  //In media queries 1rem or 1em is defined by browser

  @if $breakpoint == phone {
    @media (max-width: $phone-size) {
      // 600 px / 16 px = 37.5
      @content;
    }
  }
  @if $breakpoint == tab-port {
    //900px
    @media (max-width: $tab-port-size) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    //1200px
    @media (max-width: $tab-land-size) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    //1200px
    @media (max-width: $desktop-size) {
      @content;
    }
  }
  @if $breakpoint == big-screen {
    @media (min-width: $big-screen-size) {
      @content;
    }
  }
}

@mixin fluid($property, $min-property-size, $max-property-size) {
  $min-screen-size: 43rem;
  $max-screen-size: 192rem;
  #{$property}: $max-property-size;

  @media screen and (max-width: 120em) {
    #{$property}: calc(
      #{$min-property-size} + (
          strip-unit($max-property-size - $min-property-size)
        ) * ((100vw - #{$min-screen-size}) / #{strip-unit(
              $max-screen-size - $min-screen-size
            )})
    );
  }
  @media screen and (max-width: 26.875em) {
    #{$property}: $min-property-size;
  }

  @media screen and (min-width: 120em) {
    #{$property}: $max-property-size;
  }
}

@mixin fluidFont($min-property-size, $max-property-size) {
  $min-screen-size: 43rem;
  $max-screen-size: 192rem;
 font-size: $max-property-size;

  @media screen and (max-width: 120em) {
   font-size: calc(
      #{$min-property-size} + (
          strip-unit($max-property-size - $min-property-size)
        ) * ((100vw - #{$min-screen-size}) / #{strip-unit(
              $max-screen-size - $min-screen-size
            )})
    );
  }
  @media screen and (max-width: 26.875em) {
   font-size: $min-property-size;
  }

  @media screen and (min-width: 120em) {
   font-size: $max-property-size;
  }
}

@mixin fluidManual(
  $property,
  $min-property-size,
  $max-property-size,
  $min-screen-size,
  $max-screen-size
) {
  #{$property}: $max-property-size;

  #{$property}: $max-property-size;

  @media screen and (max-width: $max-screen-size) {
    #{$property}: calc(
      #{$min-property-size} + (
          strip-unit($max-property-size - $min-property-size)
        ) * ((100vw - #{$min-screen-size}) / #{strip-unit(
              $max-screen-size - $min-screen-size
            )})
    );
  }
  @media screen and (max-width: $min-screen-size) {
    #{$property}: $min-property-size;
  }

  @media screen and (min-width: $max-screen-size) {
    #{$property}: $max-property-size;
  }
}

@mixin fluid-reverse($property, $min-size, $max-size) {
  #{$property}: $min-size;
  #{$property}: calc(
    #{$max-size} - (#{strip-unit($max-size - $min-size)}) * ((
            100vw - #{$phone-size}
          ) / (#{strip-unit($tab-land-size + $phone-size)}))
  );
}
@mixin fluid-percentage($property, $min-percentage, $max-percentage) {
  min-#{$property}: $min-percentage;
  #{$property}: calc(
    #{$min-percentage} - 0.1 * 10vw + 100 * (((#{$tab-land-size} - 100vw) /
            (#{strip-unit($tab-land-size + $phone-size)})))
  );
  max-#{$property}: $max-percentage;
}

//- BOOTSTRAP ROW COL GENERATOR
@mixin generate-columns-all($columns) {
  @for $i from 1 through $columns {
    .col-#{$i} {
      flex: 0 0 percentage($i / $columns);
      max-width: percentage($i / $columns);
      padding: 0 15px;
    }
  }
}
@mixin generate-columns($columns, $screen-size) {
  @for $i from 1 through $columns {
    .col-#{$screen-size}-#{$i} {
      flex: 0 0 percentage($i / $columns);
      max-width: percentage($i / $columns);
      padding: 0 15px;
    }

    // @if $screen-size == xl {
    //   .col-xl-#{$i} {
    //     @include respond("big-screen") {
    //       flex: 0 0 percentage($i / $columns);
    //       max-width: percentage($i / $columns);
    //     }
    //   }
    // }
    // @if $screen-size == lg {
    //   .col-lg-#{$i} {
    //     @include respond("tab-land") {
    //       flex: 0 0 percentage($i / $columns);
    //       max-width: percentage($i / $columns);
    //     }
    //   }
    // }
    // @if $screen-size == md {
    //   .col-md-#{$i} {
    //     @include respond("tab-port") {
    //       flex: 0 0 percentage($i / $columns);
    //       max-width: percentage($i / $columns);
    //     }
    //   }
    // }
    // @if $screen-size == sm {
    //   .col-sm-#{$i} {
    //     @include respond("phone") {
    //       flex: 0 0 percentage($i / $columns);
    //       max-width: percentage($i / $columns);
    //     }
    //   }
    // }
  }
}
