@keyframes experiment {
  0% {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); }
  100% {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); } }

@keyframes moveInRight {
  0% {
    transform: translateX(-25px); }
  80% {
    transform: translateX(5px); }
  100% {
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    transform: translateX(25px); }
  80% {
    transform: translateX(-5px); }
  100% {
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  /* backface-visibility: hidden; */
  margin-bottom: 60px; }
  .heading-primary--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInRight;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s; }
  .heading-primary--sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.5px;
    animation: moveInLeft 0.5s ease-in-out; }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: transform 0.3s ease-in-out; }
  .heading-secondary:hover {
    transform: skewX(5deg) skewY(3deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
  background-color: #ffffff;
  padding: 15px 40px;
  border-radius: 30px;
  position: relative; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  backface-visibility: hidden; }
  .btn:hover::after {
    transform: scalex(1.4) scaleY(1.5);
    opacity: 0;
    backface-visibility: hidden; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: '';
  display: inline-block;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 100px;
  opacity: 1;
  transition: all 0.4s; }

.btn--animated {
  animation-name: moveInBottom;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards; }

.btn--white {
  background-color: #ffffff;
  color: #777;
  backface-visibility: hidden; }
  .btn--white::after {
    background-color: #ffffff; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  color: #55c57a;
  border-bottom: 1px solid #7ed56f;
  padding: 3px 3px;
  transition: all ease-in-out 0.2s; }

.btn-text:hover {
  transform: translateY(-2px);
  color: #ffffff;
  background-color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 1rem 0.8rem rgba(0, 0, 0, 0.2);
  background-color: #28b485; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in, outline 0.25s ease-in,  z-index  0.2s ease-in;
    transition: border-radius 0;
    outline-offset: 1.5rem;
    z-index: 5; }
    .composition__photo--p1 {
      top: -3rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 3rem; }
    .composition__photo--p3 {
      top: 8rem;
      left: 6rem; }
    .composition__photo:hover {
      transform: scale(1.2);
      box-shadow: 3 3rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 10;
      outline: 1.5rem solid #28b485;
      border-radius: 0px; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: all ease-in-out 0.2s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(55, 192, 28, 0.4), rgba(40, 180, 133, 0.4)), url("../img/hero.jpg");
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* animation: experiment 3s;
      transition: cubic-bezier(0.19, 1, 0.22, 1); */ }
  .header__logo-box {
    position: absolute;
    left: 40px;
    top: 40px; }
  .header__logo {
    height: 35px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 102.6rem;
  display: block;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    clear: both;
    display: table; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - (2 * 6rem)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - (3 * 6rem)) / 4) + 6rem);
    width: calc( 2 * ((100% - (3 * 6rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - (3 * 6rem)) / 4) + 2 * 6rem); }

.section-about {
  max-width: 100%;
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(55, 192, 28, 0.4), rgba(40, 180, 133, 0.4)), url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -10vh; }
  .section-features > *.row {
    transform: skewY(6deg); }

html {
  font-size: 62.5%; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    transform: translate(0);
    opacity: 100%; } }
