// [class^='btn'] {
//   &::before,
//   &::after {
//     position: absolute;
//     content: '';
//   }
// }
.btn {
  &,
  &:link,
  &:visited {
    border: none;
    display: inline-block;
    text-decoration: none;
    padding: 1.4rem 4rem;
    // border-radius: 0.2rem;
    cursor: pointer;
    background: black;
    font-size: inherit;
  }
}

.btn1 {
  &,
  &:link,
  &:visited {
    border: none;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    // color: $color-grey;
    // background-color: #ffffff;
    padding: 1.4rem 4rem;
    border-radius: 3rem;
    // transition: all 0.2s;
    position: relative;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    backface-visibility: hidden;

    &::after {
      transform: scalex(1.4) scaleY(1.5);
      opacity: 0;
      backface-visibility: hidden;
    }
  }

  &:focus,
  &:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }

  &::after {
    content: '';
    display: inline-block;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 100px;
    opacity: 1;
    transition: all 0.4s;
  }

  &--animated {
    animation-name: moveInBottom;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }
  &--white {
    background-color: #ffffff;
    color: #777;
    backface-visibility: hidden;

    &::after {
      background-color: #ffffff;
    }
  }
  &--green {
    background-color: $color-primary;
    color: $color-white;
    backface-visibility: hidden;

    &::after {
      background-color: $color-primary;
    }
  }
}

.btn-text {
  &,
  &:link,
  &:visited {
    font-size: $font-size-default;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    color: $color-primary;
    border-bottom: 1px solid $color-primary-light;
    padding: 3px 5px;
    transition: all ease-in-out 0.2s;
  }

  &:hover {
    transform: translateY(-2px);
    color: $color-white;
    background-color: $color-primary;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(0);
    box-shadow: 0 1rem 0.8rem rgba(0, 0, 0, 0.2);
    background-color: $color-primary-dark;
  }
}

.btn2 {
  &,
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.4rem 4rem;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    color: rgb(0, 0, 0);
    // border: 1px solid rgb(7, 7, 7);
    transition: color 0.1s ease, border 0.1s linear 0.3s;
    z-index: 1;
  }

  &:hover {
    color: rgb(255, 255, 255);
    // background-color: black;
    // border: 1px solid rgb(255, 255, 255);
  }
  &::before {
    background-color: rgb(247, 248, 247);
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    transition: height 0.5s ease;
  }
  &:hover::before {
    height: 0%;
  }
  &::after {
    background-color: rgb(2, 2, 2);
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    z-index: -1;
    bottom: 0;
    left: 0;
    transition: height 0.5s ease;
    height: 0%;
  }
  &:hover::after {
    height: 100%;
  }
}

.btn3 {
  &,
  &:link,
  &:visited {
    display: inline-block;
    padding: 1.4rem 4rem;
    position: relative;
    cursor: pointer;
    color: rgb(0, 0, 0);
    // border: 1px solid rgb(255, 255, 255);

    outline: none;

    background: linear-gradient(
      to right,
      white 0%,
      white 35%,

      black 35%,
      black 70%,
      white 70%,
      white 100%
    );

    background-position: 300% 0%;
    background-size: 301% 100%;
    background-repeat: repeat;
    transition: background-size 01s ease 0.5s, color 0s 0.8s ease;

    // transition: background-position 1s ease 1s;

    // background-position: 0% 0%;
    // background-size: 900%;
  }
  &:hover {
    // transition: height 0.5s linear, width 0.5s linear;
    color: white;
    // background-color: rgb(5, 0, 0);
    // background-position: 0% 100%;
    //
    background-size: 600% 600%;
  }
  &::before {
    // content: none;
    content: '';
    position: absolute;
    border-top: 1px solid black;
    border-left: 1px solid black;
    z-index: 2;
    left: -1px;
    top: -1px;

    opacity: 0;
    height: 0%;
    width: 0%;

    transition: height 0.3s linear, width 0.3s linear, opacity 0s 0.29s;
  }

  &:hover::before {
    width: calc(100% + 1px);
    height: 100%;
    opacity: 1;

    transition: height 0.5s linear, width 0.5s linear;
  }
  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    right: -1px;
    bottom: -1px;

    height: 0%;
    width: 0%;
    opacity: 0;

    transition: height 0.3s linear, width 0.3s linear, opacity 0s 0.29s;
  }
  &:hover::after {
    width: calc(100% + 1px);
    height: 100%;
    opacity: 1;

    transition: height 0.5s linear, width 0.5s linear;
  }
}
