button,
a {
  cursor: pointer;
  text-align: center;

  &.primary01 {
    padding: 1rem 1.6rem;
    border: none;
    border-radius: 3rem;
    color: white;
    background-color: #d10236;
    background-color: #d00000;
    text-transform: uppercase;

    font-weight: 600;
    letter-spacing: 0.5px;
  }

  &.primary02 {
    padding: 0.5rem 0.6rem;
    border: none;
    border-radius: 3rem;
    color: #d10236;
    background-color: #d10236;
    background-color: #dadcde;
    text-transform: uppercase;

    font-weight: 600;
    letter-spacing: 0.5px;
  }
  &.primary03 {
    padding: 0.8rem 1.2rem;

    border: none;
    border-radius: 1rem;
    color: white;
    background: linear-gradient(to right, #0c332e, #0b2d29);
  }

  &.stylish01 {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    &.loading {
      pointer-events: none;
      background: rgb(255, 255, 255);
    }
    &:active {
      background: #6c7c7a;
      color: #1bc59b;
    }
  }
  &.stylish02 {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    color: white;
    background: #eb2852;
    &:active {
      background: #b60407;
    }
  }
  &.stylish03 {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    background: #a2f0a2;
    &:active {
      background: #33f801;
    }
  }
  &.stylish04 {
    //- TRANSPARENT STYLE
    background: transparent;
    border: none;
    color: inherit;
    filter: drop-shadow(0px 0px 24px rgb(2, 229, 245));

    &.large-text {
      font-size: 3rem;
    }
  }
  &.stylish05 {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    color: white;
    background: #eb5628;
    &:active {
      background: #b60404;
    }
  }

  &.stylish06 {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    text-align: center;

    &:hover {
      background-color: #f7fafa;
    }

    &:focus {
      border-color: #008296;
      box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
      outline: 0;
    }
  }
  &.stylish07 {
    padding: 0.5rem 1rem;

    display: inline-block;
    background-color: #107750;
    color: white;

    border-radius: 0.5rem;
    // box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);

    font-family: sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    text-align: center;

    cursor: pointer;

    transition: background-color 0.2s ease, letter-spacing 0.2s ease;

    &:hover {
      background-color: #0a5c3d;
      letter-spacing: 0.3rem;
    }

    &:focus {
      border-color: #008296;
      box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
      outline: 0;
    }
  }

  //- ACTIONS HAVE MODIFIERS BASED ON TRAFFIC SIGNALS {STOP,WAIT,GO}
  &.action01 {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    color: white;

    &.wait {
      background: orangered;
    }
    &.stop {
      background: red;
    }
    &.go {
      background: green;
      &:disabled {
        background: rgba(156, 247, 156, 0.473);
        cursor: default;
      }
    }
  }
  &.action02 {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    color: white;
    background: rgb(98, 98, 116);

    &.wait {
      background: rgb(15, 13, 133);
    }
    &.stop {
      background: rgb(173, 7, 7);
    }
    &.go {
      background: rgb(12, 136, 12);
      &:disabled {
        background: rgba(156, 247, 156, 0.473);
        cursor: default;
      }
    }
  }

  &.sharp01 {
    border: none;
    padding: 0.5rem 1rem;
    background: #0b2d29;
    color: white;
    font-size: 1rem;
  }

  /* CSS */

  //- FOR ICONS
  &.icon01 {
    background-color: transparent;
    border: none;
    font-size: 2rem;
  }
  &.icon02 {
    background-color: rgb(160, 172, 169);
    border: none;
    border-radius: 100%;
    aspect-ratio: 1/1;
    padding: 0.1rem 0.2rem;
    color: rgb(209, 13, 13);
    font-size: 2rem;
    & svg {
      margin: 0 auto;
      vertical-align: text-bottom;
    }
  }
}
