.card-01 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-width: 20rem;
  max-width: 30rem;
  //   height: 500px;
  // padding: 0.5rem 0.4rem;
  padding-block: 1.5rem;

  position: relative;
  overflow: hidden;

  background-color: #2e7799;
  box-shadow: 1px 1px 4px rgba(158, 157, 157, 0.74);
  // border: 2px solid red;
  border-radius: 0.8rem;

  color: white;
  text-align: left;

  & .title {
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;

    margin-block: 1rem;
  }

  & .content {
    height: 40%;
    flex-basis: 40%;
    flex-grow: 1;
    flex-shrink: 3;

    & .media {
      width: 100%;
      max-width: 20rem;
    }
  }

  & .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    letter-spacing: 1px;
  }
}
