#dotCursor {
  --dot-radius: 40;

  background: #45454587;

  mix-blend-mode: normal;
  transition: background 1s ease, mix-blend-mode 1s ease;

  &.link-01 {
    --dot-radius: 20;
    mix-blend-mode: color-dodge;
    // background: rgba(214, 65, 13, 1);

    // width: 20px;
    // height: 20px;
  }
}
