.slides {
  display: flex;

  /* max-height: 40rem; */
  flex-direction: row;
  max-width: $slides-max-width;
  //   border: 1px solid red;
  border-radius: 3rem;

  .slide {
    /* display: block; */
    min-height: $slide-min-height;
    border-radius: 4rem;
    margin: 2rem 0.25rem;
    min-width: $slide-min-width;
    //width:5rem;
    /* background: var(--slideBackground); */
    background: var(--slideBackground);
    background-size: auto 120%;
    /* 100% 120% is done so that the transition takes smooth during active
    since the change in aspect ratio of div forces background to fit abruptly if 
    cover fit like text property is used */
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    border: 2px solid rgb(250, 240, 207);

    transition: all cubic-bezier(0.43, 0.74, 0.62, 0.93) 0.5s;

    &.active {
      flex-grow: 1000;
      max-width: 600px;
      /* max width should be the width of image otherwise the image wil be cut at border radius */
      border-radius: 4rem;
      border: 2px solid rgb(245, 186, 153);

      // background-size: cover;
      background-size: auto 100%;
      overflow: hidden;

      .slide__label {
        position: absolute;
        left: 5rem;
        // transition: opacity 1s ease 0.2s, left ease 0.5s;
        &__icon {
          background-color: rgb(255, 255, 255);
          opacity: 1;
        }
      }
    }

    // &:not(.active) .slide__label .label__info {
    //   display: none;
    //   opacity: 0;
    // }

    &__label {
      position: absolute;
      left: 3.5rem;
      transform: translate(-1.75rem); // half of width of label__icon

      bottom: 2.5rem;
      height: $slide-label-height;
      color: white;

      display: flex;
      flex-direction: row;

      transition: left ease 0.4s;

      &__icon,
      &__info {
        float: left;
        flex-shrink: 0;
        backface-visibility: hidden;
      }

      &__icon {
        // display: inline-block;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        width: 3.5rem;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        opacity: 0.8;
        font-size: 2rem;
        // padding-top: 0.5rem;
        color: black;
        text-align: center;

        transition: opacity 0.2s;
        // & > i {
        //   // flex-shrink: 0;
        //   // margin-top: auto;
        // }
      }

      &__info {
        display: flex;
        color: white;
        flex-direction: column;
        flex-wrap: nowrap;
        opacity: 1;
        margin-left: 1rem;
        transition: opacity 1s ease 0.2s;

        &__main {
          font-size: 2rem;
        }
      }
    }
  }
}

.slides .slide:not(.active) .slide__label .slide__label__info {
  visibility: hidden;
  opacity: 0;
}

.slides {
  & .slide:nth-of-type(1) {
    .slide__label {
      &__icon > i {
        // padding-top: -0.1rem; // not working
        color: rgb(119, 11, 11);
      }
    }
  }
  & .slide:nth-of-type(2) {
    .slide__label {
      &__icon > i {
        color: rgb(32, 129, 12);
      }
    }
  }
  & .slide:nth-of-type(3) {
    .slide__label {
      &__icon > i {
        color: rgb(14, 85, 69);
      }
    }
  }
  & .slide:nth-of-type(4) {
    .slide__label {
      &__icon > i {
        color: rgb(18, 16, 117);
      }
    }
  }
  & .slide:nth-of-type(5) {
    .slide__label {
      &__icon > i {
        color: rgb(99, 11, 121);
      }
    }
  }
}
