.modal-type-1 {
  position: fixed;
  inset: 0;
  // height: 100vh;
  width: 100vw;
  z-index: 100; // Leaflet Map'x navigation buttons has z-index of 999
  background: rgba(42, 44, 51, 0.267);

  display: flex;
  justify-content: center;
  align-items: stretch;

  &--hidden {
    visibility: hidden;
  }
  & .modal-wrapper {
    flex: 1;

    cursor: default;

    & .modal {
      background: white;
      overscroll-behavior: contain;
      @extend .scrollbar-17;

      height: 100vh;

      overflow: auto;

      &-header {
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;

        z-index: 100;

        & .close-modal-button {
          margin-inline: 2rem;
          margin-block: 1rem;
          font-size: 3rem;

          // border: 2px solid red;
          border-radius: 5rem;

          background-color: white;

          &:hover,
          &:active {
            background-color: gray;
          }
          & img {
            cursor: pointer;
            width: 2.5rem;

            color: rgb(9, 129, 79);
          }
        }
      }
    }
  }
}
