//- bt-container refers to bootstrap-like row container

.bt-container {
  width: 100%;
  display: block;
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    @include generate-columns-all(12); // for col-12 to col-1
    // @include generate-columns(12, "xl");
    // @include generate-columns(12, "lg");
    // @include generate-columns(12, "md");
    // @include generate-columns(12, "sm");

    @include respond("big-screen") {
      @include generate-columns(12, "xl");
    }
    @include respond("tab-land") {
      @include generate-columns(12, "lg");
    }
    @include respond("tab-port") {
      @include generate-columns(12, "md");
    }
    @include respond("phone") {
      @include generate-columns(12, "sm");
    }
  }
}
