// *, *::after, *::before {
//     border: 0;
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//   }

.slide_container-type-1 {
  display: grid;
  place-items: center;
  align-content: center;
  // min-height: 100vh;
  padding: 2rem 0;

  & .slider {
    position: relative;
    display: grid;
    place-items: center;
    max-width: 800px;
    overflow: hidden;
    // box-shadow: 1rem 1rem 2rem hsla(210, 50%, 40%, 0.4),
    //   -1rem -1rem 2rem hsla(210, 50%, 80%, 0.2);
    // object-fit: contain;
    & .slide {
      max-height: 100vh;
      display: flex;

      & img {
        width: 100%;
        flex: 1 0 100%;
        object-fit: cover;
      }
    }

    &__btn-container {
      position: absolute;
      width: 100%;

      & .slider__btn {
        border-radius: 50%;
        position: absolute;
        z-index: 2;
        padding: 0.2rem;
        top: 50%;
        display: grid;
        place-items: center;
        cursor: pointer;
        background: hsla(210, 50%, 30%, 0.15);
        color: hsla(210, 50%, 95%, 0.9);

        & svg {
          pointer-events: none;
        }

        &--left {
          left: 0;
          transform: translate(50%, -50%);
        }
        &--left:is(:hover, :focus) {
          // animation: 850ms moveLeft cubic-bezier(0.25, -0.5, 0.17, 1.2);
        }

        &--right {
          right: 0;
          transform: translate(-50%, -50%);
        }
        &--right:is(:hover, :focus) {
          // animation: 850ms moveRight
          // cubic-bezier(0.25, -0.5, 0.17, 1.2);
        }
      }
    }
  }
  // .slide {
  //   --slide-progress: 35%;
  //   --slide-progress--transition: all 200ms cubic-bezier(0.82, 0.02, 0.39, 1.01);
  // }
}
@keyframes moveLeft {
  10% {
    left: -3px;
  }
}

@keyframes moveRight {
  10% {
    right: -3px;
  }
}
