.sticky_slider {
  scroll-snap-type: y mandatory;
  & .sticky_section {
    scroll-snap-type: y mandatory;
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;

    & .scroll_section {
      scroll-snap-type: y mandatory;
      position: absolute;
      top: 0;
      height: 100%;
      will-change: transform;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      overflow: auto;

      &_item {
        scroll-snap-align: start;
        height: 100%;
        width: 100vw;
        position: relative;

        &--1 {
          background: rgba(250, 60, 60, 0.5);
        }
        &--2 {
          background: rgba(228, 245, 0, 0.5);
        }
        &--3 {
          background: rgba(23, 7, 243, 0.5);
        }
        &--4 {
          background: rgba(222, 4, 230, 0.5);
        }
      }
    }
  }
}
