.icon_strip {
  // a div
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  gap: 1.5rem;

  &--column {
    flex-direction: column;
  }

  & .icon_item {
    width: 6rem;

    &.prioritized {
      filter: grayscale(100%);

      &--1 {
        filter: grayscale(0);
      }
      &--2 {
        filter: grayscale(25%);
      }
      &--3 {
        filter: grayscale(50%);
      }
      &--4 {
        filter: grayscale(75%);
      }
      &--5 {
        filter: grayscale(100%);
      }

      &:hover {
        filter: grayscale(0);
      }
    }
  }
}
