* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  margin-block: 0;
  margin-inline: 0;
}
html {
  font-size: 62.5%; // 62.5 * 16px(default) = 10px which makes calculation easier
  scroll-behavior: smooth;
}
body {
  // padding: 1rem;
  position: relative;
  font-family: Roboto;
  font-size: 1.6rem;
  overflow-x: hidden;
}
html,
body {
  @include respond("phone") {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
  }
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
a {
  &:link,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

::selection {
  color: white;
  background-color: black;
}
