@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

//HEADINGS HEADINGS HEADINGS HEADINGS HEADINGS HEADINGS HEADINGS HEADINGS HEADINGS

.heading-primary-1 {
}

//GLITCHING TEXT  GLITCHING TEXT GLITCHING TEXT GLITCHING TEXT GLITCHING TEXT
.text-glitch {
  font-size: 7rem;
  font-family: Geneva, Verdana, sans-serif;
  font-weight: 100;
  // height:10rem;
  //   width: $text-glitch-max-width;
  //   max-width: $text-glitch-max-width;
  width: 100%;
  position: relative;
  display: inline-block;

  &::before {
    position: absolute;
    top: 0;
    left: 1px;
    content: attr(data-text);
    text-shadow: 1px 0 blue;

    clip: rect(0, $text-glitch-height, 0, 0);
    animation: text-glitch-noise-1 2s linear infinite alternate-reverse;
  }
  &::after {
    position: absolute;
    top: 0;
    left: -1px;

    text-shadow: -1px 0 red;

    content: attr(data-text);
    clip: rect(0, $text-glitch-height, 0, 0);
    animation: text-glitch-noise-2 3s linear infinite alternate-reverse;
  }
}

//text background clip text
.text-bg-clip {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    rgb(168, 59, 59),
    rgb(49, 83, 175)
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.h2-primary--01 {
  font-family: "Lovelyn";
  font-feature-settings: "swsh" 1;
  font-variant-alternates: swash(fancy);
  margin-block: 1rem;
  // line-height: 1em;
  @include fluidFont(4rem, 9rem);


}

.h3-primary--01 {
  font-family: "Lovelyn";
  font-feature-settings: "swsh" 1;
  font-variant-alternates: swash(fancy);
  margin-block: 1rem;
  // line-height: 1em;
  @include fluidFont(4rem, 9rem);
}
