.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-padding-top-big {
  padding-top: 8rem !important;
}

//ICONS

//WIDE TEXT
.u-wide-inline-block {
  display: inline-block;
  max-width: 100%;
}

//* ------- LAYOUTS -----------
.u-container {
  margin-inline: $margin-container-inline;
}

//* SCROLL BARS
/*
 *  STYLE 3
 */
.u-scrollbar-design-1 {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  scrollbar-track-color: #f5f5f5;
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }
  scrollbar-width: 6px;
  &::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
  scrollbar-face-color: #000000;
}

//* Image utilities
.u-img-contain {
  & img {
    object-fit: contain;
  }
}
.u-img-logo-small {
  display: inline-block;
  & img {
    max-width: 1.5em;
  }
}
