.barba-load-container {
  position: fixed;
  /* top: 0%; */
  height: 100dvh;
  width: 100dvw;
  // background: #444444;
  z-index: 10000;
  transform: translate3d(0, 110%, 0);
  // transform: translate3d(0, 0%, 0);

  &_bg-texts {
    overflow: hidden;
    width: 100%;
    & p {
      width: max-content;
      white-space: nowrap;
    }
    & p:nth-child(even) {
      animation: marquee 8s ease-in-out infinite;
    }
    & p:nth-child(odd) {
      animation: marquee 5s ease-in reverse infinite;
    }
    & p:nth-child(3) {
      animation: marquee 4s linear infinite;
    }
    & p:nth-child(5) {
      animation: marquee 7s ease-out reverse infinite;
    }
  }
}
