.personal-page {
  display: none;
}

.professional-page {
  display: none;
}

.checkbox {
  &__personal {
    font-size: 1.5rem;
    display: none;
  }
  &__professional {
    font-size: 1.5rem;
    display: none;
  }

  &__personal:checked ~ .personal-page {
    // color: red;
    display: block;
  }
  &__professional:checked ~ .professional-page {
    display: block;
    color: purple;
  }
}

// SECTIONS

.section-memory {
  max-width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, wheat, white);

  // background-image: linear-gradient(to right, green, aqua);
}

.section {
  // padding-block: 3rem;

  &--stack-belt {
    padding-block: 3rem;
  }
}

.hamburger-menu {
  position: absolute;
  position: fixed;
  top: 2.5rem;
  right: 5rem;
  z-index: 100;

  & svg {
    width: 2.5rem;
  }
}
