.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8rem 4rem;

  & .envelope {
    --width: 50rem;
    --height:50rem;
    height: var(--height);
    width: calc(var(--width));
    border: 2px solid red;
    margin-top: calc(var(--height) / 2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    &_triangle {
      width: calc(100% / 1.4142);
      height: calc(100% / 1.4142);
      border: 2px solid blue;
      transform: translateY(-70.71%) rotate(45deg);
    }
  }
}
