@use "/src/scss/abstract/variables" as vars;
@use "/src/scss/abstract/mixins" as mixins;

.container {
  // background-color: #062C41;
  position: relative;

  & .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6rem;
    gap: 5rem;
    // border: 1px solid;

    & .content-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;

      flex-basis: 50%;

      & .greetings {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 3rem;

        & .description {
          color: vars.$c-gray-400;
        }
        & .name {
          color: vars.$c-gray-500;
        }

        & h2.tagline {
          font-weight: 400;
          font-size: 4rem;
          font-family: monospace, Urbanist;

          & .tech {
            color: vars.$c-blue-fair-500;
          }
          & .business {
            color: vars.$c-blue-fair-500;
          }
        }
      }
    }
  }
  & .image-column {
    flex-basis: 40%;
    align-self: stretch;
    overflow: hidden;
    padding: 0.6rem;

    & .image-frame {
      border: 1px solid vars.$c-blue-fair-200;
      position: relative;
      height: 100%;
      // max-height: 40rem;
      padding: 0.4rem;
      // aspect-ratio: 28/38;
      // overflow: hidden;

      box-shadow: 8px 0px 8px -4px #{vars.$c-gray-300};

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        translate: -50% 50%;
        height: 1rem;
        width: 1rem;
        background-color: vars.$c-blue-fair-500;
        border-radius: 100%;
      }
      & figure {
        height: 100%;
        overflow: hidden;

        & img {
          transition: scale 0.5s ease;
          &:hover {
            scale: 1.05;
          }
        }
      }
      & .logos {
        position: absolute;
        width: 100%;
        padding: 1rem;
        bottom: 0;
        right: 0;
        z-index: 10;
        overflow: hidden;
        flex-basis: 40%;
        display: flex;
        color: #{vars.$c-blue-fair-50}50;
        flex-direction: column;
        gap: 2rem;

    
        pointer-events: none;
        font-size: 4rem;
      }
    }
  }
}
