@use "/src/scss/abstract/variables" as vars;
@use "/src/scss/abstract/mixins" as mixins;

button {
  display: inline-block;
  font-size: 1em;
  font-family: Urbanist;
  letter-spacing: 0.4px;
  padding: 1rem 1.2rem;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;

  &.rounded {
    border-radius: 1.2em;
  }
  &.primary {
    background: vars.$c-blue-fair-600;
    color: vars.$c-white;

    &:hover {
        background: vars.$c-white;
        color: vars.$c-blue-fair-600;
        border-color: vars.$c-blue-fair-400;
    }
    &:active {
        background: vars.$c-blue-fair-100;
        color: vars.$c-blue-fair-600;
        border-color: vars.$c-blue-fair-400;
    }

  }
}
