@use "/src/scss/abstract/mixins" as mixins;
@use "/src/scss/abstract/variables" as vars;

.cursor {
  position: fixed;
  z-index: 1000;
  width: 5rem;
  height: 5rem;
  background-color: #{vars.$c-orange-fair-900};
  border-radius: 50%;
  pointer-events: none;
  //   mix-blend-mode: difference;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
