@use "/src/scss/abstract/variables" as vars;
@use "/src/scss/abstract/mixins" as mixins;
@use "/src/scss/layouts/section" as *;
@use "/src/scss/base/typography" as *;

.section-contact {
  @extend %section-1;
  background-color: vars.$c-gray-300;

  & .h2 {
    margin-bottom: 2rem;
    text-align: center;
    @extend %heading-2-a;
  }
}
