@use "/src/scss/abstract/variables" as vars;
@use "/src/scss/abstract/mixins" as mixins;
@use "/src/scss/layouts/section" as *;
@use "/src/scss/base/typography" as *;

.section-about {
  // min-height: 100vmin;

  @extend %section-1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 2rem;
  background-color: vars.$c-gray-300;

  & .h2 {
    text-align: center;
    color: vars.$c-gray-600;
    @extend %heading-2-a;
  }

  & .content {
    // border: 4px solid vars.$c-white;
    // display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 140rem;

    @include mixins.respond(tab-port) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

    & .image {
      grid-column: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;

      & figure {
        min-height: 50vh;
        max-height: 32rem;
        overflow: hidden;

        border: 12px solid vars.$c-gray-400;
        aspect-ratio: 2/3;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    & .text {
      grid-column: 2/2;
      color: vars.$c-gray-700;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 2rem;

      @include mixins.respond(tab-port) {
        grid-column: 1;
      }

      & .nepali {
        font-size: 6rem;
        font-weight: 600;
        color: vars.$c-gray-600;
        cursor: default;

        &::after,
        &::before {
          color: vars.$c-gray-400;
        }
        &::before {
          content: "“";
          margin-right: 1rem;
        }
        &::after {
          content: "”";
          margin-left: 1rem;
        }

        @include mixins.respond(tab-port) {
          align-self: center;
          text-align: center;
        }
      }

      & .description {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        & span {
          color: vars.$c-gray-700;
          font-weight: 600;
        }

        & .links {
          & .social-links {
            margin-top: 1rem;
            & img {
              width: 2rem;
              height: 2rem;
              object-fit: contain;
              transition: all 0.2s ease-in-out;

              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}
