.section-works {
  position: relative;
  height: 100vmin;
  overflow: hidden;
  background: black;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 8rem;

  & .track-container {
    cursor: crosshair;
    
    #image-track {
      display: flex;
      gap: 4vmin;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(0%, -50%);
      user-select: none; /* -- Prevent image highlighting -- */
      & > .image {
        width: 40vmin;
        height: 56vmin;
        object-fit: cover;
        object-position: 100% center;
      }
    }
  }
}
