@use "/src/scss/abstract/variables" as vars;
@use "/src/scss/abstract/mixins" as mixins;
@use "/src/scss/layouts/section" as *;
@use "/src/scss/base/typography" as *;
.section-works {
  @extend %section-1;
  position: relative;
  min-height: 100vmin;

  background: vars.$c-black;
  color: vars.$c-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .h2 {
    text-align: center;
    color: vars.$c-white;
    @extend %heading-2-a;
  }

  & .container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 10rem 2rem;

    & .item-wrapper {
    }
  }
}
