.magneto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 1rem 1.2rem;
  // height: 20rem;
  // width: 20rem;
  // border: 1px solid blue;
  border-radius: 1rem;

  & child {
    box-sizing: border-box;
  }
}
