@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
@mixin clearfix100 {
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    clear: both;
    display: block;
  }
}
