.section-about {
  max-width: 100%;
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(rgb(55, 192, 28), 0.4),
      rgba($color-primary-dark, 0.4)
    ),
    url('../img/nat-4.jpg');
  // background-size: cover;
  // background-position: center;
  background-size: fill;
  transform: skewY(-6deg);
  margin-top: -11vh;

  & > *.row {
    transform: skewY(6deg);
  }
}

.section-tours {
  max-width: 100%;
  background-color: $color-grey-light-1;
  padding: 25rem 0 50rem 0;
  margin-top: -10vh;
}

.section-stories {
  position: relative;
  width: 100%;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-grey-light-1, 0.8) 0%,
      rgba($color-grey-light-1, 0.8) 50%,
      transparent 50%
    ),
    url('../img/nat-10.jpg');

  background-size: cover;
  border-radius: 3px;
  height: 50rem;
  padding:2rem 5rem;

  &__form{
    width:50%;
    font-size: 1.5rem;
  }
}
