.section--about {
  padding: 0;
  min-height: 40vh;
  max-height: 100vh;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  background: #dadcde;
  background-color: #f1f3f3;
  color: #2e7799;

  & .profile {
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-self: flex-end;
    width: fit-content;
    @include fluid-reverse("flex-basis", 40%, 70%);

    overflow: hidden;

    & figure {
      min-width: 20rem;
      max-width: 40rem;
      height: 100%;
      filter: drop-shadow(inset 0px 0px 2px red);

      & img {
        height: 100%;
        object-fit: contain;
      }
    }
  }

  & .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    width: 40%;
    flex-basis: 40%;
    color: #e1e1e1;
    color: #5c5e5a;
    z-index: 2;
    margin-block: 8%;
    margin-inline: 5%;


    & .intro {
      flex-grow: 2;
      & p {
        margin-bottom: 2rem;
        & .name {
          color: black;
          font-weight: 500;
        }
      }
    }

    & .links {
      display: flex;
      justify-content: center;
      align-self: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;

      margin-top: 1rem;
      & .link {
        &--linkedin {
          &:hover {
            filter: drop-shadow(0 1px 4px rgb(10, 102, 194));
          }
        }
        &--github {
          &:hover {
            filter: drop-shadow(0 1px 4px rgb(21, 23, 26));
          }
        }
        &--resume {
          width: 3rem;
        }
      }
    }
  }
}
