.landingPage1 {
  display: block;
  // width: 100vw; // setting it gave some extra size to body
  height: 100vh;
  background-image: linear-gradient(
    120deg,
    rgba(184, 233, 127, 0.575) 00%,
    rgba(129, 212, 208, 0.493) 50%,
    rgba(0, 0, 0, 0.623) 50%,
    rgba(209, 12, 183, 0.623) 100%
  );
  position: relative;
  background-size: 100% 100%;
  animation: gradient 5s ease infinite;

  &__box {
    display: block;
    max-width: 70rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 2rem;
    text-align: center;
    // border: 2px solid white;

    &--left {
      display: block;
      right: 12rem;
      // float: left;
      margin: 1rem 3rem 1rem 3rem;
      // animation: landingTextLeft 3s linear 1s both;
    }
    &--right {
      // float: right;
      display: block;
      margin: 1rem 1rem 3rem 3rem;
      left: 12rem;
    }
  }

  &__leftVideoWrapper {
    // clip-path: polygon(0 0, 67% 0, 31% 100%, 0% 100%);
    clip-path: polygon(0vh 0vh, 69vw 0vh, 10vw 100vw, 0vh 100vw);
  }

  //checkbox logic
  &__checkbox {
  }

  &__checkbox:checked ~ &__box--right {
    background-color: red;
  }
}

//landing page style 2 -------------------------------------------------------

.landingPage2 {
  display: block;
  // width: 100vw; // setting it gave some extra size to body
  height: 100vh;
  background-color: wheat;
  position: relative;
  background-size: 100% 100%;
  animation: gradient 5s ease infinite;

  &__box {
    display: block;
    max-width: 70rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 2rem;
    text-align: center;
    // border: 2px solid white;

    &--left {
      display: block;
      right: 12rem;
      // float: left;
      margin: 1rem 3rem 1rem 3rem;
      // animation: landingTextLeft 3s linear 1s both;
    }
    &--right {
      // float: right;
      display: block;
      margin: 1rem 1rem 3rem 3rem;
      left: 12rem;
    }
  }

  &__leftVideoWrapper {
    // clip-path: polygon(0 0, 67% 0, 31% 100%, 0% 100%);
    clip-path: polygon(0vh 0vh, 69vw 0vh, 10vw 100vw, 0vh 100vw);
  }

  //checkbox logic
  &__checkbox {
  }

  &__checkbox:checked ~ &__box--right {
    background-color: red;
  }
}
