.hero1 {
  position: relative;
  background: black;
  background: #dadcde;
  height: 100vh;
  min-height: fit-content;
  width: 100%;
  overflow: hidden;
  // background-color: #2d3436;
  // background-image: linear-gradient(315deg, #1a1c1d 0%, #000000 74%);

  font-variant: no-common-ligatures proportional-nums;
  // overflow-x: hidden;

  & .floating_image {
    position: absolute;
    left: 0;
    height: 100%;

    filter: grayscale(76%);

    // transform: translateX(-50%);

    & img {
      height: 100%;
    }
  }

  & .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -30%;
    text-align: center;

    & .greeting {
      margin-bottom: 3rem;
      text-align: left;
      color: white;

      & .highlighted {
        color: gray;
        letter-spacing: 0.5px;
      }
    }

    & .title {
      @include fluidFont(3rem, 8rem);

      color: white;
      cursor: none;

      padding-inline: 15px;
      letter-spacing: 4px;
      white-space: nowrap;
      line-height: 86%;

      & .to-mask {
        position: relative;
        display: inline;
        margin-left: 30%;

        & .mask {
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          background-size: 100%;
          // transition: clip-path 0.1s ease;
          clip-path: circle(var(--clip-size) at var(--clip-position-sabudh));
          // background-image: linear-gradient(98.3deg, red, red);
          background-image: linear-gradient(98.3deg, #ff0022, #ff0022);
        }

        & .fill {
          position: absolute;
          // filter: drop-shadow(2px 3px 3px #a8a8a8);
        }
      }
      & .red {
        position: relative;
        display: inline;
        color: red;

        & .white {
          color: white;
        }
      }
      & .focused {
        // text-decoration: underline;
      }
    }
    & .make-visible {
      margin: 6rem;
      padding: -0.1rem;

      & .btn {
        white-space: nowrap;
      }
      &:hover > button {
        visibility: visible;
        color: white;
      }
      &:hover ~ & h1 {
        text-decoration: underline;
        text-transform: capitalize;
      }
    }
    & button.hidden {
      visibility: hidden;
      border: 1px solid transparent;
      background: transparent;
      opacity: 0;
      transform: translateZ(2rem);

      transition: opacity 0.7s ease;

      &:hover {
        //   visibility: visible;
        color: whitesmoke;
        opacity: 1;
      }
    }
  }
}

// @property --clip-size {
//   syntax: '<Number>';
//   inherits: false;
//   initial-value: 20;
// }

@keyframes clip-size-transition {
  0% {
    --clip-size: 10;
  }
  100% {
    --clip-size: 30;
  }
}
