.section--works {
  min-height: 50vh;
  // padding-inline: 2rem;

  // background: #dadcde;
  // background-image: linear-gradient(to bottom, transparent 99%, #ffffff98 100%),
  //   linear-gradient(to right, #dadcde 99%, #ffffff98 100%);
  // background-size: 100px 100px, 100px 100px;
  // background-attachment: fixed;
  // background-color: #b3d8bb;
  background-color: #8abbb8;

  color: #5c5e5a;
  color: white;

  & h2 {
    display: inline-block;
    border-bottom: 1px solid #5c5e5a;
    color: #5c5e5a;
  }

  & .works {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;

    & .work {
      position: relative;
      flex-basis: 4rem;
      // color: #979797;
      // max-width: 8rem;
      // width: max-content;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex: 0 0 16rem;
      padding: 5rem 1.5rem;

      // border-top: 1px solid #e24110;
      align-items: stretch;

      transition: border-color 0.5s ease-in, color 0.4s ease;

      &:nth-child(2n - 1) {
        background-color: #8abbb8;
      }
      &:nth-child(2n) {
        background-color: #44403d;
        background-color: #92a87c;
      }

      @include respond(tab-port) {
        padding: 2.5rem 0.5rem;
      }

      &:first-child {
        border-top: none;
      }

      &_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        margin-block: 0.5rem;
        min-height: 2.5lh;
        // border-bottom: 2px solid #12242b;
        padding-inline: 0.5rem;
        & h3 {
          font-weight: 400;
          letter-spacing: 1px;
          @include fluidFont(2rem, 5rem);
        }
      }

      & .slide_container {
        min-height: 5rem;
        max-width: 60%;
        overflow: hidden;
        flex-basis: 60%;
        padding-bottom: 3rem;

        @include respond(tab-port) {
          max-width: 100%;
        }
        & .slider {
          @include fluid-percentage(width, 70%, 90%);

          @include respond(tab-port) {
            width: 90%;
          }
          & .slide {
            height: 100%;
          }
        }
      }

      & .wrapper {
        display: flex;
        flex-direction: row;
        margin-block: 1rem;

        @include respond(tab-port) {
          flex-direction: column-reverse;
        }
      }

      &_description {
        padding-inline: 0.5rem;
        align-self: center;
        flex-basis: 40%;
        max-width: 40%;

        // display: flex;
        // flex-direction: column;
        // gap: 3rem;
        // color: #12242b;
        text-align: center;

        @include fluidFont(1.8rem, 2rem);

        @include respond(tab-port) {
          margin-top: 1.5rem;
          max-width: 100%;
        }
        & p {
          text-align: left;
          margin-bottom: 3rem;
        }
        & a {
        }

        & .tech_stack {
          // border: 1px solid red;
          justify-content: flex-start;
          margin-block: 1.5rem;
          & .tech_logo {
            width: 4rem;
            @include respond(tab-port) {
              width: 3rem;
            }
            @include respond(phone) {
              width: 2.5rem;
            }
          }
        }
      }
      &_sample-image {
        overflow-y: scroll;
        max-height: 100%;
        overflow-y: scroll;
        align-self: flex-end;

        &::-webkit-scrollbar {
          display: none;
        }

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }

      &:hover {
        border-color: #4bc5f5;
        & .work_title {
          // color: white;
        }
      }
    }
  }
}
