.section--works {
  min-height: 50vh;
  padding-inline: 2rem;

  --background-color-1: #e1ecf1;
  --background-color-2: #acc8e5;

  & .section-title {
    color: white;
    @include fluidFont(3rem, 8rem);

    & span {
      border-bottom: 1px solid red;
    }
  }
  background: #dceaf0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    var(--background-color-1),
    var(--background-color-2)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    var(--background-color-1),
    var(--background-color-2)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  & .works {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;

    & .work {
      position: relative;
      flex-basis: 4rem;
      // color: #979797;
      // max-width: 8rem;
      // width: max-content;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex: 0 0 16rem;
      padding: 5rem 0.5rem;

      border-top: 1px solid #7dd1f3;
      align-items: stretch;

      transition: border-color 0.5s ease-in, color 0.4s ease;

      @include respond(tab-port) {
        padding: 2.5rem 0.5rem;
      }

      &:first-child {
        border-top: none;
      }
      & .slide_container {
        min-height: 5rem;
        max-width: 60%;
        overflow: hidden;
        flex: 2.5;
        padding-bottom: 3rem;

        @include respond(tab-port) {
          max-width: 100%;
        }
        & .slider {
          @include fluid-percentage(width, 70%, 90%);

          @include respond(tab-port) {
            width: 90%;
          }
          & .slide {
            height: 100%;
          }
        }
      }
      &_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        margin-block: 0.5rem;
        min-height: 2.5lh;
        // border-bottom: 2px solid #12242b;
        padding-inline: 0.5rem;
        & h3 {
          @include fluidFont(2rem, 5rem);
        }
      }
      & .wrapper {
        display: flex;
        flex-direction: row;
        margin-block: 1rem;

        @include respond(tab-port) {
          flex-direction: column-reverse;
        }
      }

      &_description {
        padding-inline: 0.5rem;
        align-self: center;
        flex: 1;

        // display: flex;
        // flex-direction: column;
        // gap: 3rem;
        color: #12242b;
        text-align: center;

        @include fluidFont(1.8rem, 2.5rem);

        @include respond(tab-port) {
          margin-top: 1.5rem;
        }
        & p {
          text-align: left;
          margin-bottom: 3rem;
        }
        & a {
        }

        & .tech-stack {
          // border: 1px solid red;
          margin-block: 1.5rem;
          & .tech-logo {
            width: 4rem;
            @include respond(tab-port) {
              width: 3rem;
            }
            @include respond(phone) {
              width: 2.5rem;
            }
          }
        }
      }
      &_sample-image {
        overflow-y: scroll;
        max-height: 100%;
        overflow-y: scroll;
        align-self: flex-end;

        &::-webkit-scrollbar {
          display: none;
        }

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }

      &:hover {
        border-color: #4bc5f5;
        & .work_title {
          // color: white;
        }
      }
    }
  }
}
