.section--footer {
  min-height: 100vh;
  background: black;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  & h2 {
    color: transparent;
    --blackish: rgb(60, 61, 61);
    --whitish: rgb(149, 160, 160);
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      75deg,
      white,
      var(--blackish),
      white,
      var(--blackish),
      var(--whitish),
      white
    );
    background-clip: text;
    -webkit-background-clip: text;
    background-position: 100% 0%;
    background-size: 100%;

    transition: background-size 3s ease;

    &:hover {
      background-size: 400%;
      transition: background-size 3s ease;

      // background-position: 200% 0% ;
    }
  }
  & .description {
    & .email {
      font-style: italic;
      margin-top: 0.8rem;
      cursor: grab;
      user-select: none;
      position: relative;

      &:active {
        cursor: grabbing; 
      }
    }
  }

  & .large {
    @include fluidFont(6rem, 14rem);
  }
}
