$c-white:#ffffff;
$c-black:#000000;

$c-blue-gray-25: #fcfcfd;
$c-blue-gray-50: #f8f9fc;
$c-blue-gray-100: #eaecf5;
$c-blue-gray-200: #c8cce5;
$c-blue-gray-300: #9ea5d1;
$c-blue-gray-400: #717bbc;
$c-blue-gray-500: #4e5ba6;
$c-blue-gray-600: #3e4784;
$c-blue-gray-700: #363f72;
$c-blue-gray-800: #293056;
$c-blue-gray-900: #101323;
$c-blue-gray-950: #0d0f1c;

$c-blue-light-25: #f5fbff;
$c-blue-light-50: #f0f9ff;
$c-blue-light-100: #e0f2fe;
$c-blue-light-200: #b9e6fe;
$c-blue-light-300: #7cd4fd;
$c-blue-light-400: #36bffa;
$c-blue-light-500: #0ba5ec;
$c-blue-light-600: #0086c9;
$c-blue-light-700: #026aa2;
$c-blue-light-800: #065986;
$c-blue-light-900: #0b4a6f;
$c-blue-light-950: #062c41;

$c-blue-fair-25: #f5faff;
$c-blue-fair-50: #eff8ff;
$c-blue-fair-100: #d1e9ff;
$c-blue-fair-200: #b2ddff;
$c-blue-fair-300: #84caff;
$c-blue-fair-400: #53b1fd;
$c-blue-fair-500: #2e90fa;
$c-blue-fair-600: #1570ef;
$c-blue-fair-700: #175cd3;
$c-blue-fair-800: #1849A9;
$c-blue-fair-900: #194185;
$c-blue-fair-950: #102a56;

$c-indigo-fair-25: #f5f8ff;
$c-indigo-fair-50: #eef4ff;
$c-indigo-fair-100: #e0eaff;
$c-indigo-fair-200: #c7d7fe;
$c-indigo-fair-300: #a4bcfd;
$c-indigo-fair-400: #8098f9;
$c-indigo-fair-500: #6172f3;
$c-indigo-fair-600: #444ce7;
$c-indigo-fair-700: #3538cd;
$c-indigo-fair-800: #2d31a6;
$c-indigo-fair-900: #2d3282;
$c-indigo-fair-950: #1f235b;

$c-purple-fair-25: #fafaff;
$c-purple-fair-50: #f4f3ff;
$c-purple-fair-100: #ebe9fe;
$c-purple-fair-200: #d9d6fe;
$c-purple-fair-300: #bdb4fe;
$c-purple-fair-400: #9b8afb;
$c-purple-fair-500: #7a5af8;
$c-purple-fair-600: #6938ef;
$c-purple-fair-700: #5925dc;
$c-purple-fair-800: #4a1fb8;
$c-purple-fair-900: #3e1c96;
$c-purple-fair-950: #27115f;

$c-pink-fair-25: #fef6fb;
$c-pink-fair-50: #fdf2fa;
$c-pink-fair-100: #fce7f6;
$c-pink-fair-200: #fcceee;
$c-pink-fair-300: #faa7e0;
$c-pink-fair-400: #f670c7;
$c-pink-fair-500: #ee46bc;
$c-pink-fair-600: #dd2590;
$c-pink-fair-700: #c11574;
$c-pink-fair-800: #9e165f;
$c-pink-fair-900: #851651;
$c-pink-fair-950: #4e0d30;

$c-rose-fair-25: #fff5f6;
$c-rose-fair-50: #fff1f3;
$c-rose-fair-100: #ffe4e8;
$c-rose-fair-200: #fecdd6;
$c-rose-fair-300: #fea3b4;
$c-rose-fair-400: #fd6f8e;
$c-rose-fair-500: #f63d68;
$c-rose-fair-600: #e31b54;
$c-rose-fair-700: #c01048;
$c-rose-fair-800: #a11043;
$c-rose-fair-900: #89123e;
$c-rose-fair-950: #510b24;

$c-orange-fair-25: #fffaf5;
$c-orange-fair-50: #fff6ed;
$c-orange-fair-100: #ffead5;
$c-orange-fair-200: #fddcab;
$c-orange-fair-300: #feb273;
$c-orange-fair-400: #fd853a;
$c-orange-fair-500: #fb6514;
$c-orange-fair-600: #ec4a0a;
$c-orange-fair-700: #c4320a;
$c-orange-fair-800: #9c2a10;
$c-orange-fair-900: #7e2410;
$c-orange-fair-950: #511c10;

$c-gray-25: #fcfcfd;
$c-gray-50: #f9fafb;
$c-gray-100: #f2f4f7;
$c-gray-200: #e4e7ec;
$c-gray-300: #d0d5dd;
$c-gray-400: #98a2b3;
$c-gray-500: #667085;
$c-gray-600: #475467;
$c-gray-700: #344054;
$c-gray-800: #1d2939;
$c-gray-900: #101828;
$c-gray-950: #0c111d;

$c-green-fair-25: #f6fef9;
$c-green-fair-50: #ecfdf3;
$c-green-fair-100: #d1fadf;
$c-green-fair-200: #a6f4c5;
$c-green-fair-300: #6ce9a6;
$c-green-fair-400: #32d583;
$c-green-fair-500: #12b76a;
$c-green-fair-600: #039855;
$c-green-fair-700: #027a48;
$c-green-fair-800: #05603a;
$c-green-fair-900: #054f31;
$c-green-fair-950: #053321;

$c-red-error-25: #fffbfa;
$c-red-error-50: #fef3f2;
$c-red-error-100: #fee4e2;
$c-red-error-200: #fecdca;
$c-red-error-300: #fda29b;
$c-red-error-400: #f97066;
$c-red-error-500: #f04438;
$c-red-error-600: #d92d20;
$c-red-error-700: #b42318;
$c-red-error-800: #912018;
$c-red-error-900: #7a271a;
$c-red-error-950: #55160c;

$c-marigold-25: #fffcf5;
$c-marigold-50: #fffaeb;
$c-marigold-100: #fef0c7;
$c-marigold-200: #fedf89;
$c-marigold-300: #fec84b;
$c-marigold-400: #fdb022;
$c-marigold-500: #f79009;
$c-marigold-600: #dc6803;
$c-marigold-700: #b54708;
$c-marigold-800: #93370d;
$c-marigold-900: #7a2e0e;
$c-marigold-950: #4e1d09;

$c-purple-fair-25: #fcfaff;
$c-purple-fair-50: #f9f5ff;
$c-purple-fair-100: #f4ebff;
$c-purple-fair-200: #e9d7fe;
$c-purple-fair-300: #d6bbfb;
$c-purple-fair-400: #b692f6;
$c-purple-fair-500: #9e77ed;
$c-purple-fair-600: #7f56d9;
$c-purple-fair-700: #6941c6;
$c-purple-fair-800: #53389e;
$c-purple-fair-900: #42307d;
$c-purple-fair-950: #2c1c5f;
